<div local-class='entry' ...attributes>
    <div>
        <div local-class='name'>
            {{@image.name}}
            {{#if @checked}}
                <i class='fa fa-check'
                   data-test-image-selected={{@image.url}}
                />
            {{/if}}
        </div>
        <div local-class='description'>{{@image.description}}</div>
    </div>
    <div local-class='select_button'>
        {{#if @isSelectionAllowed}}
            <button
                data-test-image-selection={{@image.url}}
                type='button'
                class='btn btn-default'
                {{on 'click' @onButtonClick}}
                >
                {{#if @isSelecting}}
                    {{t 'binderhub.deployment.select_environment'}}
                {{else}}
                    {{t 'binderhub.deployment.change_environment'}}
                {{/if}}
            </button>
        {{/if}}
    </div>
</div>
