{{! using unsafeTitle here to avoid double encoding because the title helper does its own }}
{{title 'grdmapps'}}
<div class='container' local-class='Integromat'>
    {{#if this.loading}}
        {{t 'integromat.loading'}}
    {{else}}

        <div class='row' local-class='Integromat__header'>
            <ul local-class='Integromat__menu'><li><span class='btn btn-link'>{{t 'integromat.workflowListLabel'}}</span>{{fa-icon 'angle-right'}}</li></ul>
        </div>
        <div>
            <div local-class='Integromat__sidebar' >
                <div>
                    <h5>
                        {{t 'integromat.categoryLabel'}}
                        <span>
                            {{fa-icon 'info-circle'}}
                            <BsTooltip>
                                {{t 'integromat.categoryDesp'}}
                            </BsTooltip>
                        </span>
                    </h5>
                    <ul local-class='Integromat__menu'>
                        <li>
                            <span>
                                <a {{action this.displayWorkflows}}>
                                    {{t 'integromat.workflowListLabel'}}
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            {{#if this.showWorkflows}}
                <div id='workflows' class='main-screen' local-class='Integromat__workflows'>
                    <table data-test-workflows-table class='table table-bordered'>
                        <thead>
                            <tr style='background-color: #f5f5f5;'>
                                <th width='50%' style='border-right: 1px solid transparent;'>
                                    <span>{{t 'integromat.workflowLabel'}}</span>
                                </th>
                                <th width='40%' style='border-right: 1px solid transparent;'>
                                    <span>{{t 'integromat.integratedAppsLabel'}}</span>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each this.workflows as |row|}}
                                <tr>
                                    <td style='border-right: 1px solid transparent;'>
                                        <a {{action this.setWorkflow row.fields.workflow_description}}>
                                            {{t row.fields.workflow_description}}
                                        </a>
                                    </td>
                                    <td style='border-right: 1px solid transparent;'>
                                        {{t row.fields.workflow_apps}}
                                    </td>
                                    <td>
                                        <button onClick={{action makeRegisterAlternativeWebhookUrl row.fields.workflow_description}} style='font-size: x-small; white-space: nowrap;'>{{t 'integromat.workflows.alternative_webhook_url.registerLabel'}}</button>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/if}}
        </div>
        {{#if this.showWebMeetingWorkflow}}
            <div  data-test-web-meeting-screen class='col-md-9' local-class='Integromat__webApp_screen'>
                <div id='allWebMeetings' class='main-screen'>
                    <div local-class='Integromat__web_meeting_navbar'>
                        <label style='margin-top:10px;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{t 'integromat.integratedAppsLabel'}}{{t 'integromat.colon'}}{{t 'integromat.workflows.web_meeting.apps'}}</label>
                        <button style='margin-top:10px; margin-right:10px;'
                              data-test-craete-meeting-button
                              local-class='Integromat__buttons'
                              class='text-success pull-right'
                              type='text'
                              onClick={{action (mut this.showCreateWebMeetingDialog) true}}
                          >
                            {{fa-icon 'plus'}}&nbsp;{{t 'integromat.meetingDialog.createLabel'}}
                        </button>
                    </div>
                    <BsTab local-class='Integromat__web_meeting_tab' as |tab|>
                        <tab.pane @title={{t 'integromat.upcoming'}}>
                            {{#if (eq this.upcoming_web_meetings.length 0)}}
                                <p local-class='Integromat__statement'>{{t 'integromat.noUpcomingMeetings'}}</p>
                            {{else}}
                                <div class='row' id='upcoming-meeting-table-row'>
                                    <div class='col-xs-12'>
                                        <table class='table'>
                                            <thead>
                                                <tr style='background-color: #e0ebf3;'>
                                                    <th width='14%'>
                                                        <span class='header_text m-r-sm'></span>
                                                    </th>
                                                    <th width='38%'>
                                                        <span class='header_text m-r-sm'>{{t 'integromat.subject'}}</span>
                                                    </th>
                                                    <th width='20%'>
                                                        <span class='header_text m-r-sm'>{{t 'integromat.organizer'}}</span>
                                                    </th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each this.upcoming_web_meetings as |row index|}}
                                                   {{#if (eq index 0)}}
                                                        <tr style='background-color: #efefef;'>
                                                            <th local-class='Integromat__th' style='padding: 3px; padding-left: 10px;'>{{moment-format row.fields.start_datetime 'll'}}</th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                   {{else}}
                                                       {{#if row.date_bar}}
                                                            <tr style='background-color: #efefef; padding: 3px; padding-left: 10px;'>
                                                                <th local-class='Integromat__th' style='padding: 3px; padding-left: 10px;'>{{moment-format row.fields.start_datetime 'll'}}</th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                       {{/if}}
                                                    {{/if}}
                                                    <tr local-class='Integromat__tr'>
                                                        <td local-class='Integromat__td'>{{moment-format row.fields.start_datetime 'HH:mm'}}{{t 'integromat.from_hyphen'}}{{moment-format row.fields.end_datetime 'HH:mm'}}</td>
                                                        <td local-class='Integromat__td_overflow'>
                                                            <a onClick={{action this.makeDetailMeetingDialog row.pk row.fields.meetingid row.fields.join_url row.fields.app row.fields.subject row.fields.organizer_fullname row.fields.attendees row.fields.start_datetime row.fields.end_datetime row.fields.location row.fields.content}}>
                                                                {{row.fields.subject}}
                                                            </a>
                                                        </td>
                                                        <td local-class='Integromat__td_overflow'>{{row.fields.organizer_fullname}}</td>
                                                        <td local-class='Integromat__td'>
                                                            <button class='fa fa-play' data-toggle='tooltip' title={{t 'integromat.meetingDialog.startHeader' appName=row.app_name_disp}}
                                                                  onClick={{action this.startMeeting row.fields.join_url}}></button>
                                                        </td>
                                                        <td>
                                                            <CopyableButton
                                                                @text={{row.fields.join_url}}
                                                            />
                                                        </td>
                                                        <td class='text-info' local-class='Integromat__td'>
                                                            <button class='fa fa-edit' data-toggle='tooltip' title={{t 'integromat.meetingDialog.updateHeader' appName=row.app_name_disp}}
                                                                  onClick={{action this.makeUpdateMeetingDialog row.pk row.fields.meetingid row.fields.join_url row.fields.meeting_password row.fields.app row.fields.subject row.fields.attendees row.fields.start_datetime row.fields.end_datetime row.fields.location row.fields.content}}></button>
                                                        </td>
                                                        <td class='text-danger' local-class='Integromat__td'>
                                                            <button class='fa fa-trash' data-toggle='tooltip' title={{t 'integromat.meetingDialog.deleteHeader' appName=row.app_name_disp}}
                                                                  onClick={{action this.makeDeleteDialog row.fields.meetingid row.fields.app row.fields.subject row.fields.start_datetime row.fields.end_datetime}}></button>
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {{/if}}
                        </tab.pane>
                        <tab.pane @title={{t 'integromat.previous'}}>
                            {{#if (eq this.previous_web_meetings.length 0)}}
                                <p local-class='Integromat__statement'>{{t 'integromat.noPreviousMeetings'}}</p>
                            {{else}}
                                <div class='row' id='previous-meeting-table-row'>
                                    <div class='col-xs-12'>
                                        <table class='table'>
                                            <thead>
                                                <tr style='background-color: #e0ebf3;'>
                                                    <th width='14%'>
                                                        <span class='header_text m-r-sm'></span>
                                                    </th>
                                                    <th width='38%'>
                                                        <span class='header_text m-r-sm'>{{t 'integromat.subject'}}</span>
                                                    </th>
                                                    <th width='20%'>
                                                        <span class='header_text m-r-sm'>{{t 'integromat.organizer'}}</span>
                                                    </th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each this.previous_web_meetings as |row index|}}
                                                   {{#if (eq index 0)}}
                                                        <tr style='background-color: #efefef;'>
                                                            <th local-class='Integromat__th' style='padding: 3px; padding-left: 10px;'>{{moment-format row.fields.start_datetime 'll'}}</th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                   {{else}}
                                                       {{#if row.date_bar}}
                                                            <tr style='background-color: #efefef; padding: 3px; padding-left: 10px;'>
                                                                <th local-class='Integromat__th' style='padding: 3px; padding-left: 10px;'>{{moment-format row.fields.start_datetime 'll'}}</th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                       {{/if}}
                                                    {{/if}}
                                                    <tr local-class='Integromat__tr'>
                                                        <td local-class='Integromat__td'>{{moment-format row.fields.start_datetime 'HH:mm'}}{{t 'integromat.from_hyphen'}}{{moment-format row.fields.end_datetime 'HH:mm'}}</td>
                                                        <td local-class='Integromat__td_overflow'>
                                                            <a onClick={{action this.makeDetailMeetingDialog row.pk row.fields.meetingid row.fields.join_url row.fields.app row.fields.subject row.fields.organizer_fullname row.fields.attendees row.fields.start_datetime row.fields.end_datetime row.fields.location row.fields.content}}>
                                                                {{row.fields.subject}}
                                                            </a>
                                                        </td>
                                                        <td local-class='Integromat__td_overflow'>{{row.fields.organizer_fullname}}</td>
                                                        <td local-class='Integromat__td'>
                                                            <button class='fa fa-play' data-toggle='tooltip' title={{t 'integromat.meetingDialog.startHeader' appName=row.app_name_disp}}
                                                                  onClick={{action this.startMeeting row.fields.join_url}}></button>
                                                        </td>
                                                        <td>
                                                            <CopyableButton
                                                                @text={{row.fields.join_url}}
                                                            />
                                                        </td>
                                                        <td class='text-info' local-class='Integromat__td'>
                                                            <button class='fa fa-edit' data-toggle='tooltip' title={{t 'integromat.meetingDialog.updateHeader' appName=row.app_name_disp}}
                                                                  onClick={{action this.makeUpdateMeetingDialog row.pk row.fields.meetingid row.fields.join_url row.fields.meeting_password row.fields.app row.fields.subject row.fields.attendees row.fields.start_datetime row.fields.end_datetime row.fields.location row.fields.content}}></button>
                                                        </td>
                                                        <td class='text-danger' local-class='Integromat__td'>
                                                            <button class='fa fa-trash' data-toggle='tooltip' title={{t 'integromat.meetingDialog.deleteHeader' appName=row.app_name_disp}}
                                                                  onClick={{action this.makeDeleteDialog row.fields.meetingid row.fields.app row.fields.subject row.fields.start_datetime row.fields.end_datetime}}></button>
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {{/if}}
                        </tab.pane>
                    </BsTab>
                </div>
            </div>
        {{/if}}
    {{/if}}
</div>