<div>
    {{#if this.loading}}
        {{t 'binderhub.loading'}}
    {{else}}
        <div local-class='jupyterhub-server-menu'>
            <span local-class='jupyterhub_servers_host_label'>
                {{t 'binderhub.servers.host'}}
            </span>
            <BsDropdown data-test-jupyterhub-selection as |dd|>
                <dd.button>
                    {{this.selectedHostURL.href}}
                    <span class='caret'></span>
                </dd.button>
                <dd.menu
                    local-class='dropdown_menu'
                    as |menu|>
                    {{#each this.selectableBinderhubs as |item|}}
                        <menu.item data-test-jupyterhub-selection-option role='menuitem'>
                            <OsfButton
                                @type='link'
                                @onClick={{action this.onHostSelect item.binderhub_url}}
                            >
                                {{#if (eq this.selectedHostURL.href item.binderhub_url)}}
                                    {{#fa-stack as |s|}}
                                        {{s.stack-1x 'fw'}}
                                        {{s.stack-1x 'check'}}
                                    {{/fa-stack}}
                                {{else}}
                                    {{#fa-stack as |s|}}
                                        {{s.stack-1x 'fw'}}
                                    {{/fa-stack}}
                                {{/if}}
                                <span>{{item.name}}</span>
                            </OsfButton>
                        </menu.item>
                    {{/each}}
                </dd.menu>
            </BsDropdown>
        </div>
    {{/if}}
</div>
