<div ...attributes>
    <div local-class='host_selector'>
        <span local-class='host_label'>
            {{t 'binderhub.host_info.url'}}
        </span>
        <strong local-class='host_url'>
            {{@selectedHost.name}}
        </strong>
        <OsfButton @type='link' {{on 'click' (fn this.updateOpenBit true)}}>
            {{t 'binderhub.host_info.change_host'}}
        </OsfButton>
    </div>
</div>

<BsModal @open={{this.selectDialogueOpenBit}} as |modal|>
    <modal.header>
        <h4>
            {{t 'binderhub.host_selector.dialogue_title'}}
        </h4>
    </modal.header>
    <modal.body>
        {{t 'binderhub.host_selector.dialogue_explanation'}}
        <form>
            <fieldset>
                {{#each @availableHosts as |item|}}
                    <div>
                        <label>
                            <input type='radio' name='host' value={{item.url}}
                                checked={{eq @selectedHost.url.href item.url.href}}
                                {{on 'click' (fn this.pick item.url)}}
                            >
                            {{item.name}}
                        </label>
                    </div>
                {{/each}}
            </fieldset>
        </form>
    </modal.body>
    <modal.footer>
        <BsButton
            {{on 'click' (fn this.updateOpenBit false)}}
        >
            {{t 'general.cancel'}}
        </BsButton>
        <BsButton
            {{on 'click' this.applyPicked}}
            @type='success'
        >
            {{t 'general.ok'}}
        </BsButton>
    </modal.footer>
</BsModal>
