<Registries::SchemaBlockRenderer::Editable::Base @helpText={{this.schemaBlock.helpText}}>
    <div local-class='file-metadata-input-buttons'>
        <OsfButton
          data-test-file-metadata-input-reload
          @onClick={{action this.reloadMetadata}}
          local-class='file-metadata-input-reload-button'
        >
            {{fa-icon 'rotate-right'}}
            {{t 'metadata.file-metadata-input.reload'}}
        </OsfButton>
    </div>
    {{#if this.fileEntries}}
        <table class='table table-responsive' local-class='file-metadata-input-files'>
            <thead>
                <tr>
                    <th class='col-md-1'>
                    </th>
                    <th class='col-md-3'>
                        {{t 'metadata.file-metadata-input.columns.path'}}
                    </th>
                    <th class='col-md-4'>
                        {{t 'metadata.file-metadata-input.columns.title'}}
                    </th>
                    <th class='col-md-3'>
                        {{t 'metadata.file-metadata-input.columns.manager'}}
                    </th>
                    <th class='col-md-1'></th>
                </tr>
            </thead>
            <tbody>
                {{#each this.fileEntries as |fileEntry|}}
                    {{#if fileEntry.visible}}
                        <tr>
                            <td class='col-md-1'>
                                {{#if fileEntry.added}}
                                    <button
                                      data-test-file-metadata-input-upper
                                      class='btn btn-link'
                                      local-class='file-metadata-input-edit-button'
                                        {{action this.removeFileMetadata fileEntry}}
                                    >
                                        <i class='fa fa-check-square'></i>
                                    </button>
                                {{else if fileEntry.hasProject}}
                                    <button
                                      data-test-file-metadata-input-upper
                                      class='btn btn-link'
                                      local-class='file-metadata-input-edit-button'
                                        {{action this.addFileMetadata fileEntry}}
                                    >
                                        <i class='fa fa-square'></i>
                                    </button>
                                {{/if}}
                            </td>
                            <td class='col-md-4'>
                                <p style={{fileEntry.style}}>
                                    {{#if fileEntry.folder}}
                                        {{#if fileEntry.folderExpanded}}
                                            <button
                                              data-test-file-metadata-input-expand-minus
                                              class='btn btn-link'
                                              local-class='file-metadata-input-edit-button'
                                                {{action this.expandFolder fileEntry false}}
                                            >
                                                <i class='fa fa-minus'></i>
                                            </button>
                                        {{else}}
                                            <button
                                              data-test-file-metadata-input-expand-plus
                                              class='btn btn-link'
                                              local-class='file-metadata-input-edit-button'
                                                {{action this.expandFolder fileEntry true}}
                                            >
                                                <i class='fa fa-plus'></i>
                                            </button>
                                        {{/if}}
                                        <i class='fa fa-folder'></i>
                                    {{else}}
                                        <i class='fa fa-file'></i>
                                    {{/if}}
                                    {{fileEntry.lastPart}}
                                </p>
                            </td>
                            <td class='col-md-3'>
                                {{#if fileEntry.url}}
                                    <a href='{{fileEntry.url}}' target='_blank' rel='noopener'>
                                        {{fileEntry.title}}
                                    </a>
                                {{else}}
                                    {{fileEntry.title}}
                                {{/if}}
                            </td>
                            <td class='col-md-3'>
                                {{#if fileEntry.manager}}
                                    {{fileEntry.manager}}
                                {{else}}
                                    {{t 'metadata.file-metadata-input.no_manager'}}
                                {{/if}}
                            </td>
                            <td class='col-md-1'>
                                {{#if fileEntry.fileUrl}}
                                    <a
                                        data-test-file-metadata-input-edit
                                        class='btn btn-link'
                                        local-class='file-metadata-input-edit-button'
                                        href='{{fileEntry.fileUrl}}'
                                        target='_blank'
                                        rel='noopener'>
                                        <i class='fa fa-edit'></i>
                                    </a>
                                {{/if}}
                            </td>
                        </tr>
                    {{/if}}
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <div local-class='file-metadata-input-container'>
            {{t 'metadata.file-metadata-input.no_metadata_editable'}}
            <a href='{{this.nodeUrl}}' target='_blank' rel='noopener'>
                {{this.nodeUrl}}
            </a>
        </div>
    {{/if}}
</Registries::SchemaBlockRenderer::Editable::Base>
