{{! using unsafeTitle here to avoid double encoding because the title helper does its own }}
{{title 'webmeetings'}}
<div class='container' local-class='web_meeting'>
    {{#if this.loading}}
        <br><br>
        {{t 'web_meetings.loading'}}
    {{else}}
        <div data-test-web-meeting-screen>
            <div id='allWebMeetings' class='main-screen'>
                <div local-class='WebMeetings__web_meeting_navbar'>
                    {{#if showMeetingsList}}
                    <button style='margin-top:10px; margin-right:10px; background-color: #357935; border-color: #357935; min-width: 200px;'
                        local-class='WebMeetings__button_list'
                        class='text-success pull-right'
                        type='text'
                        onClick={{action this.setCreateWebMeetingsInputDialog this.webMeetingsApps.firstObject true}}
                    >
                        {{fa-icon 'plus'}}&nbsp;{{t 'web_meetings.meetingDialog.createLabel'}}
                    </button>
                        <button style='margin-top:10px; margin-right:10px; background-color: #1b6d85; border-color: #1b6d85; min-width: 180px;'
                            local-class='WebMeetings__button_list'
                            class='text-success pull-right'
                            type='text'
                            onClick={{action this.setAttendeesList }}
                        >
                            {{fa-icon 'user'}}&nbsp;{{t 'web_meetings.manageAttendees'}}
                        </button>
                    {{else}}
                        <button style='margin-top:10px; margin-right:10px; background-color: #1b6d85; border-color: #1b6d85; min-width: 180px;'
                            local-class='WebMeetings__button_list'
                            class='text-success pull-right'
                            type='text'
                            onClick={{action this.setMeetingsList }}
                        >
                            {{fa-icon 'users'}}&nbsp;{{t 'web_meetings.manageMeetings'}}
                        </button>
                    {{/if}}
                </div>
                {{#if showMeetingsList}}
                    <BsTab local-class='WebMeetings__web_meeting_tab' as |tab|>
                        <tab.pane @title={{t 'web_meetings.upcoming'}}>
                            {{#if (eq this.allUpcomingWebMeetings.length 0)}}
                                <p local-class='WebMeetings__statement'>{{t 'web_meetings.noUpcomingMeetings'}}</p>
                            {{else}}
                                <div class='row' id='upcoming-meeting-table-row'>
                                    <div class='col-xs-12'>
                                        <table class='table'>
                                            <tbody>
                                                {{#each this.allUpcomingWebMeetings as |row index|}}
                                                {{#if (eq index 0)}}
                                                        <tr style='background-color: #efefef;'>
                                                            <th width='15%' local-class='WebMeetings__th' style='padding: 3px; padding-left: 10px;'>{{t 'web_meetings.momentFormat.ll' year=(moment-format row.fields.start_datetime 'YYYY') month=(moment-format row.fields.start_datetime 'MM') day=(moment-format row.fields.start_datetime 'DD')}}</th>
                                                            <th width='55%'></th>
                                                            <th width='15%'></th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                {{else}}
                                                    {{#if row.date_bar}}
                                                            <tr style='background-color: #efefef; padding: 3px; padding-left: 10px;'>
                                                                <th width='15%' local-class='WebMeetings__th' style='padding: 3px; padding-left: 10px;'>{{t 'web_meetings.momentFormat.ll' year=(moment-format row.fields.start_datetime 'YYYY') month=(moment-format row.fields.start_datetime 'MM') day=(moment-format row.fields.start_datetime 'DD')}}</th>
                                                            <th width='55%'></th>
                                                            <th width='15%'></th>
                                                            <th></th>
                                                            <th></th>
                                                            </tr>
                                                    {{/if}}
                                                {{/if}}
                                                    <tr local-class='WebMeetings__tr' {{action this.makeDetailWebMeetingDialog row.pk row.fields.meetingid row.fields.subject row.fields.attendees row.fields.organizer_fullname row.fields.start_datetime row.fields.end_datetime row.fields.content row.fields.meeting_password row.fields.join_url row.fields.app_name true}}>
                                                        <td local-class='WebMeetings__td' style='vertical-align: middle'>{{moment-format row.fields.start_datetime 'HH:mm'}}{{t 'web_meetings.from_hyphen'}}{{moment-format row.fields.end_datetime 'HH:mm'}}</td>
                                                        <td local-class='WebMeetings__td_overflow' style='vertical-align: middle'>{{row.fields.subject}}</td>
                                                        <td local-class='WebMeetings__td_overflow' style='vertical-align: middle'>{{row.fields.app_name}}</td>
                                                        <td local-class='WebMeetings__td'>
                                                            <button local-class='WebMeetings__button_list' style='background-color: #1b6d85; border-color: #1b6d85' data-toggle='tooltip' title={{t 'web_meetings.meetingDialog.startHeader' appName=row.fields.app_name}}
                                                                {{action this.startMeeting row.fields.join_url bubbles=false}}>{{t 'web_meetings.meetingDialog.startBtn'}}</button>
                                                        </td>
                                                        <td local-class='WebMeetings__td'>
                                                            <button local-class='WebMeetings__button_list' style='background-color: #a94442; border-color: #a94442' data-toggle='tooltip' title={{t 'web_meetings.meetingDialog.deleteHeader' appName=row.fields.app_name}}
                                                                {{action this.makeDeleteWebMeetingsDialog row.fields.meetingid row.fields.subject row.fields.start_datetime row.fields.end_datetime row.fields.app_name bubbles=false}}>{{t 'web_meetings.meetingDialog.deleteBtn'}}</button>
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {{/if}}
                        </tab.pane>
                        <tab.pane @title={{t 'web_meetings.previous'}}>
                            {{#if (eq this.allPreviousWebMeetings.length 0)}}
                                <p local-class='WebMeetings__statement'>{{t 'web_meetings.noPreviousMeetings'}}</p>
                            {{else}}
                                <div class='row' id='previous-meeting-table-row'>
                                    <div class='col-xs-12'>
                                        <table class='table'>
                                            <tbody>
                                                {{#each this.allPreviousWebMeetings as |row index|}}
                                                {{#if (eq index 0)}}
                                                        <tr style='background-color: #efefef;'>
                                                            <th  local-class='WebMeetings__th' style='padding: 3px; padding-left: 10px;'>{{t 'web_meetings.momentFormat.ll' year=(moment-format row.fields.start_datetime 'YYYY') month=(moment-format row.fields.start_datetime 'MM') day=(moment-format row.fields.start_datetime 'DD')}}</th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                {{else}}
                                                    {{#if row.date_bar}}
                                                            <tr style='background-color: #efefef; padding: 3px; padding-left: 10px;'>
                                                                <th local-class='WebMeetings__th' style='padding: 3px; padding-left: 10px;'>{{t 'web_meetings.momentFormat.ll' year=(moment-format row.fields.start_datetime 'YYYY') month=(moment-format row.fields.start_datetime 'MM') day=(moment-format row.fields.start_datetime 'DD')}}</th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                    {{/if}}
                                                    {{/if}}
                                                    <tr local-class='WebMeetings__tr' {{action this.makeDetailWebMeetingDialog row.pk row.fields.meetingid row.fields.subject row.fields.attendees row.fields.organizer_fullname row.fields.start_datetime row.fields.end_datetime row.fields.content row.fields.meeting_password row.fields.join_url row.fields.app_name false}}>
                                                        <td local-class='WebMeetings__td'>{{moment-format row.fields.start_datetime 'HH:mm'}}{{t 'web_meetings.from_hyphen'}}{{moment-format row.fields.end_datetime 'HH:mm'}}</td>
                                                        <td local-class='WebMeetings__td_overflow'>{{row.fields.subject}}</td>
                                                        <td local-class='WebMeetings__td_overflow'>{{row.fields.app_name}}</td>
                                                    </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {{/if}}
                        </tab.pane>
                    </BsTab>
                {{/if}}
                {{#if showAttendeesList}}
                    <BsTab local-class='WebMeetings__web_meeting_tab' as |tab|>
                    {{#each this.webMeetingsApps as |appName|}}
                        {{#if (eq appName this.appNameMicrosoftTeams)}}
                            <tab.pane @title={{appName}}>
                            {{#if (eq this.nodeMicrosoftTeamsAttendees.length 0)}}
                                <p local-class='WebMeetings__statement'>{{t 'web_meetings.noRegisteredAttendee'}}</p>
                            {{else}}
                                <div class='row' id='upcoming-meeting-table-row'>
                                    <div class='col-xs-12'>
                                        <table class='table'>
                                            <tbody>
                                                <tr style='background-color: #efefef; padding: 3px; padding-left: 10px;'>
                                                    <th width='20%'></th>
                                                    <th width='80%'></th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                                {{#each this.nodeMicrosoftTeamsAttendees as |row index|}}
                                                    {{#if row.fields.is_active}}
                                                        <tr local-class='WebMeetings__tr'>
                                                            <td local-class='WebMeetings__td_overflow' style='vertical-align: middle'>{{row.fields.fullname}}</td>
                                                            <td local-class='WebMeetings__td_overflow' style='vertical-align: middle'>{{row.fields.email_address}}</td>
                                                            <td local-class='WebMeetings__td'>
                                                                <button local-class='WebMeetings__button_list' style='background-color: #1b6d85; border-color: #1b6d85'
                                                                    {{action this.makeUpdateWebMeetingsEmailDialog row.fields._id row.fields.fullname row.fields.email_address row.fields.user_guid row.fields.has_grdm_account appName}}>{{t 'web_meetings.meetingDialog.updateBtn'}}</button>
                                                            </td>
                                                            {{#if row.fields.has_grdm_account}}
                                                                <td></td>
                                                            {{else}}
                                                                <td local-class='WebMeetings__td'>
                                                                    <button local-class='WebMeetings__button_list' style='background-color: #a94442; border-color: #a94442'
                                                                        {{action this.makeDeleteWebMeetingsEmailDialog row.fields._id row.fields.fullname row.fields.email_address appName}}>{{t 'web_meetings.meetingDialog.deleteBtn'}}</button>
                                                                </td>
                                                            {{/if}}
                                                        </tr>
                                                    {{/if}}
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {{/if}}
                            </tab.pane>
                        {{/if}}
                        {{#if (eq appName this.appNameWebexMeetings)}}
                            <tab.pane @title={{appName}}>
                            {{#if (eq this.nodeWebexMeetingsAttendees.length 0)}}
                                <p local-class='WebMeetings__statement'>{{t 'web_meetings.noRegisteredAttendee'}}</p>
                            {{else}}
                                <div class='row' id='upcoming-meeting-table-row'>
                                    <div class='col-xs-12'>
                                        <table class='table'>
                                            <tbody>
                                                <tr style='background-color: #efefef; padding: 3px; padding-left: 10px;'>
                                                    <th width='20%'></th>
                                                    <th width='80%'></th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                                {{#each this.nodeWebexMeetingsAttendees as |row index|}}
                                                    {{#if row.fields.is_active}}
                                                        <tr local-class='WebMeetings__tr'>
                                                            <td local-class='WebMeetings__td_overflow' style='vertical-align: middle'>{{row.fields.fullname}}</td>
                                                            <td local-class='WebMeetings__td_overflow' style='vertical-align: middle'>{{row.fields.email_address}}</td>
                                                            <td local-class='WebMeetings__td'>
                                                                <button local-class='WebMeetings__button_list' style='background-color: #1b6d85; border-color: #1b6d85'
                                                                    {{action this.makeUpdateWebMeetingsEmailDialog row.fields._id row.fields.fullname row.fields.email_address row.fields.user_guid row.fields.has_grdm_account appName}}>{{t 'web_meetings.meetingDialog.updateBtn'}}</button>
                                                            </td>
                                                            {{#if row.fields.has_grdm_account}}
                                                                <td></td>
                                                            {{else}}
                                                                <td local-class='WebMeetings__td'>
                                                                    <button local-class='WebMeetings__button_list' style='background-color: #a94442; border-color: #a94442'
                                                                        {{action this.makeDeleteWebMeetingsEmailDialog row.fields._id row.fields.fullname row.fields.email_address appName}}>{{t 'web_meetings.meetingDialog.deleteBtn'}}</button>
                                                                </td>
                                                            {{/if}}
                                                        </tr>
                                                    {{/if}}
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {{/if}}
                            </tab.pane>
                        {{/if}}
                    {{/each}}
                    </BsTab>
                {{/if}}
            </div>
        </div>
    {{/if}}
</div>

<!-- modal-dialog -->
<BsModal
    data-test-create-web-meeting-modal
    @open={{this.showCreateWebMeetingsDialog}}
    @onSubmit={{action this.reqLaunch 'create'}}
    @onShown={{action this.setDefaultDate 'create'}}
    @onHidden={{action (mut this.showCreateWebMeetingsDialog) false}}
    @onHide={{action this.resetValue}}
    @scrollable={{true}}
    as |modal|
>
    <modal.header>
        <h4 style='font-weight:normal;'>
            {{t 'web_meetings.meetingDialog.createHeader' appName=this.displayedWebMeetings}}
        </h4>
    </modal.header>
    <modal.body>
        <div class='form-group'>
                {{#each this.webMeetingsApps as |appName index|}}
                    {{#if (eq appName this.displayedWebMeetings)}}
                        <input type='radio' name='webMeetingAppName' id='radio_{{appName}}' onClick={{action this.setCreateWebMeetingsInputDialog appName false}} checked='checked'>
                    {{else}}
                        <input type='radio' name='webMeetingAppName' id='radio_{{appName}}' onClick={{action this.setCreateWebMeetingsInputDialog appName false}}>
                    {{/if}}
                    <label for='radio_{{appName}}'>
                        {{appName}}
                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                {{/each}}
                {{#if showCreateWebMeetingsInputDialog}}
                    <div local-class='WebMeetings__input_items'>
                    <label>{{t 'web_meetings.subject'}}</label><label class='text-danger'>{{t 'web_meetings.asterisk'}}</label>
                        {{input
                            name='webMeetingsSubject'
                            placeholder=(t 'web_meetings.placeholders.subject')
                            class='form-control'
                            type='text'
                            value=this.webMeetingsSubject
                        }}
                    </div>
                    <div local-class='WebMeetings__text_danger' class='text-danger'>{{this.msgInvalidSubject}}</div>
                    {{#if (not-eq this.displayedWebMeetings this.appNameZoomMeetings)}}
                        <div local-class='WebMeetings__input_items'>
                        <div>
                            <label>{{t 'web_meetings.attendees'}}</label><label class='text-danger'>{{t 'web_meetings.asterisk'}}</label>
                            <button style="margin-left: 20px; font-size: x-small; white-space: nowrap; vertical-align: top;" onClick={{action this.addContributorsAsAttendees this.displayedWebMeetings}} type='button'>{{t 'web_meetings.meetingDialog.addContributorsAsAttendeesBtn'}}</button>
                        </div>
                            {{#if (eq this.displayedWebMeetings this.appNameMicrosoftTeams)}}
                                <PowerSelectMultiple
                                    @searchField='name'
                                    @selected={{this.selectedAttendees}}
                                    @options={{this.possibleAttendeesMicrosoftTeams}}
                                    @renderInPlace={{true}}
                                    @selectedItemComponent='selected-item-attendees'
                                    @onchange={{action this.startRegisterAttendeesFlow}}
                                    @onInput={{this.checkLength}} as |name|>
                                    {{name.dispName}}
                                </PowerSelectMultiple>
                            {{/if}}
                            {{#if (eq this.displayedWebMeetings this.appNameWebexMeetings)}}
                                <PowerSelectMultiple
                                    @searchField='name'
                                    @selected={{this.selectedAttendees}}
                                    @options={{this.possibleAttendeesWebexMeetings}}
                                    @renderInPlace={{true}}
                                    @selectedItemComponent='selected-item-attendees'
                                    @onchange={{action this.startRegisterAttendeesFlow}}
                                    @onInput={{this.checkLength}} as |name|>
                                    {{name.dispName}}
                                </PowerSelectMultiple>
                            {{/if}}
                        </div>
                        <div local-class='WebMeetings__text_danger' class='text-danger'>{{this.msgInvalidAttendees}}</div>
                        <div local-class='WebMeetings__text_danger' class='text-danger'>{{this.canNotRegisterContrib}}</div>
                    {{/if}}
                    <div local-class='WebMeetings__input_items'>
                        <table>
                            <tr>
                                <td style='width: 23%;'><label>{{t 'web_meetings.start_datetime'}}</label><label class='text-danger'>{{t 'web_meetings.asterisk'}}</label></td><td style='width: 15%;'></td><td style='width: 5%;'></td>
                                <td style='width: 13%;'><label>{{t 'web_meetings.duration'}}</label><label class='text-danger'>{{t 'web_meetings.asterisk'}}</label></td><td style='width: 8%;'></td><td style='width: 13%;'></td><td style='width: 8%;'></td><td></td>
                            </tr>
                            <tr>
                                <td>
                                    {{bootstrap-datepicker
                                        id='create_start_date'
                                        class='form-control'
                                        type='text'
                                        value=this.webMeetingsStartDate
                                        format='yyyy/mm/dd'
                                        todayHighlight=true
                                        hide=(action this.fixDate 'create')
                                    }}
                                </td>
                                <td>
                                    <select id='create_web_meetings_start_time' class='form-control'>
                                        {{#each this.times as |times|}}
                                            {{#if (eq times this.defaultStartTime)}}
                                                <option value={{times}} selected>{{times}}</option>
                                            {{else}}
                                                <option value={{times}}>{{times}}</option>
                                            {{/if}}
                                        {{/each}}
                                    </select>
                                </td>
                                <td><label local-class='WebMeetings__input_items'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></td>
                                <td>
                                    <select id='create_web_meetings_duration_hours' class='form-control'>
                                        {{#each this.hours as |hours index|}}
                                            {{#if (eq index 1)}}
                                                <option value={{hours}} selected>{{hours}}</option>
                                            {{else}}
                                                <option value={{hours}}>{{hours}}</option>
                                            {{/if}}
                                        {{/each}}
                                    </select>
                                </td>
                                <td>&nbsp;&nbsp;{{t 'web_meetings.hour'}}&nbsp;&nbsp;</td>
                                <td>
                                    <select id='create_web_meetings_duration_minutes' class='form-control'>
                                        {{#each this.minutes as |minutes index|}}
                                            {{#if (eq index 0)}}
                                                <option value={{minutes}} selected>{{minutes}}</option>
                                            {{else}}
                                                <option value={{minutes}}>{{minutes}}</option>
                                            {{/if}}
                                        {{/each}}
                                    </select>
                                </td>
                                <td>&nbsp;&nbsp;{{t 'web_meetings.minutes'}}</td>
                                <td>{{this.tz}}</td>
                            </tr>
                        </table>
                    </div>
                    <div local-class='WebMeetings__text_danger' class='text-danger'>{{this.msgInvalidDatetime}}</div>
                    <div local-class='WebMeetings__input_items'>
                        <label>{{t 'web_meetings.content'}}</label>
                        {{textarea
                            name='webMeetingsContent'
                            class='form-control'
                            value=this.webMeetingsContent
                            placeholder=(t 'web_meetings.placeholders.content')
                        }}
                    </div>
                {{/if}}
        </div>
    </modal.body>
    <modal.footer>
        {{#if showCreateWebMeetingsInputDialog}}
            <BsButton
                @onClick={{action modal.close}}
            >
                {{t 'web_meetings.meetingDialog.cancelBtn'}}
            </BsButton>
            <OsfButton
                @type='success'
                @onClick={{action modal.submit}}>
                {{t 'web_meetings.meetingDialog.createBtn'}}
            </OsfButton>
        {{/if}}
    </modal.footer>
</BsModal>

<BsModal
    data-test-delete-meeting-modal
    @open={{this.showDeleteWebMeetingsDialog}}
    @onSubmit={{action this.reqLaunch 'delete'}}
    @onHidden={{action (mut this.showDeleteWebMeetingsDialog) false}}
    @onHide={{action this.resetValue}}
    @scrollable={{true}}
    as |modal|
>
    <modal.header>
        <h4 style='font-weight:normal;'>
             {{t 'web_meetings.meetingDialog.deleteHeader' appName=this.displayedWebMeetings}}
        </h4>
    </modal.header>
    <modal.body>
        <div class='form-group'>
            <div>{{t 'web_meetings.meetingDialog.deleteBody'}}</div>
            <br>
            <div local-class='WebMeetings__input_items'>
                <div style='word-break: break-all;'>{{this.webMeetingsDeleteSubject}}</div>
            </div>
            <div style='padding: 5px;'>
                <table>
                    <tr>
                        <td>
                            {{this.webMeetingsDeleteStartDate}}&nbsp;{{this.webMeetingsDeleteStartTime}}
                        </td>
                        <td><label local-class='Meetings'>{{t 'web_meetings.from_hyphen'}}</label></td>
                        <td>
                            {{this.webMeetingsDeleteEndTime}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </modal.body>
    <modal.footer>
        <BsButton
            @onClick={{action modal.close}}
        >
            {{t 'web_meetings.meetingDialog.cancelBtn'}}
        </BsButton>
        <OsfButton
            @type='danger'
            @onClick={{action modal.submit}}
        >
            {{t 'web_meetings.meetingDialog.deleteBtn'}}
        </OsfButton>
    </modal.footer>
</BsModal>

<BsModal
    data-test-detail-meeting-modal
    @open={{this.showDetailWebMeetingsDialog}}
    @onSubmit={{action this.reqLaunch 'update'}}
    @onHidden={{action (mut this.showDetailWebMeetingsDialog) false}}
    @onHide={{action this.resetValue}}
    @scrollable={{true}}
    as |modal|
>
    <modal.header>
        <h4 style='font-weight:normal;'>
            {{#if this.detailMode}}
                {{t 'web_meetings.meetingDialog.detailHeader' appName=this.displayedWebMeetings}}
            {{else}}
                {{t 'web_meetings.meetingDialog.updateHeader' appName=this.displayedWebMeetings}}
            {{/if}}
        </h4>
    </modal.header>
    <modal.body style='border-bottom: 1px solid #E5E5E5'>
        {{#if this.detailMode}}
            <div class='form-group'>
                <div local-class='WebMeetings__input_items WebMeetings__div_inline_block' style='font-size: x-large; word-break: break-all;'>
                    {{this.webMeetingsDetailSubject}}
                </div>
                <div local-class='WebMeetings__input_items' style='padding-left: 20px;'>
                <div local-class='WebMeetings__div_overflow' style='display: inline-block;' title={{this.webMeetingsJoinUrl}}><a local-class='WebMeetings__link' href={{this.webMeetingsJoinUrl}} target='_blank'>{{this.webMeetingsJoinUrl}}</a></div>
                    <CopyableIcon
                        @text={{this.webMeetingsJoinUrl}}
                        local-class='WebMeetings__div_inline_block'
                        style='font-size: medium'
                    />
                </div>
                <div style='padding-left: 20px; padding-top: 5px;'>
                    <div local-class='WebMeetings__div_inline_block'>
                        {{this.webMeetingsDetailStartDate}}&nbsp;{{this.webMeetingsDetailStartTime}}
                    </div>
                    <div local-class='WebMeetings__div_inline_block'><label>{{t 'web_meetings.from_hyphen'}}</label></div>
                    <div local-class='WebMeetings__div_inline_block'>
                        {{this.webMeetingsDetailEndTime}}
                    </div>
                    <div local-class='WebMeetings__div_inline_block'>&nbsp;&nbsp;</div>
                </div>
                <div local-class='WebMeetings__input_items' style='padding-left: 20px;'>
                    <span>{{t 'web_meetings.organizer'}}{{t 'web_meetings.colon'}}
                          {{this.webMeetingsOrganizerFullname}}
                    </span>
                </div>
                {{#if (not-eq this.displayedWebMeetings this.appNameZoomMeetings)}}
                    <div local-class='WebMeetings__input_items' style='padding-left: 20px;'>
                        <span>{{t 'web_meetings.attendees'}}{{t 'web_meetings.colon'}}
                            <div style='padding-left: 10px; padding-top: 5px'>
                                {{#each this.selectedDetailAttendees as |attendee|}}
                                    {{#if attendee.has_grdm_account}}
                                        <button local-class='WebMeetings__button_detail_attendees' data-toggle='tooltip' title='{{attendee.email}}({{attendee.institution}})'><a style='text-decoration:none; color: inherit;' href={{attendee.profile}} target='_blank'>{{attendee.fullname}}</a></button>
                                    {{else}}
                                        <button local-class='WebMeetings__button_detail_guests' data-toggle='tooltip' title='{{attendee.email}}'>{{attendee.fullname}}</button>
                                    {{/if}}
                                    &nbsp;&nbsp;&nbsp;
                                {{/each}}
                            </div>
                        </span>
                    </div>
                {{/if}}
                <div local-class='WebMeetings__input_items' style='padding-left: 20px; padding-bottom: 10px;'>
                    <div style='border-top-style: inset; padding-top: 10px; white-space: pre-wrap;'>{{this.webMeetingsDetailContent}}</div>
                </div>
            </div>
        {{else}}
            <div id='update_web_meetings_disp' class='form-group'>
                <div local-class='WebMeetings__input_items'>
                    <label>{{t 'web_meetings.subject'}}</label><label class='text-danger'>{{t 'web_meetings.asterisk'}}</label>
                    {{input
                        name='webMeetingsSubject'
                        placeholder=(t 'web_meetings.placeholders.subject')
                        class='form-control'
                        type='text'
                        value=this.webMeetingsSubject
                    }}
                </div>
                <div local-class='WebMeetings__text_danger' class='text-danger'>{{this.msgInvalidSubject}}</div>
                {{#if (not-eq this.displayedWebMeetings this.appNameZoomMeetings)}}
                    <div local-class='WebMeetings__input_items'>
                        <div>
                            <label>{{t 'web_meetings.attendees'}}</label><label class='text-danger'>{{t 'web_meetings.asterisk'}}</label>
                            <button style="margin-left: 20px; font-size: x-small; white-space: nowrap; vertical-align: top;" onClick={{action this.addContributorsAsAttendees this.displayedWebMeetings}} type='button'>{{t 'web_meetings.meetingDialog.addContributorsAsAttendeesBtn'}}</button>
                        </div>
                        {{#if (eq this.displayedWebMeetings this.appNameMicrosoftTeams)}}
                            <PowerSelectMultiple
                                @searchField='name'
                                @selected={{this.selectedAttendees}}
                                @options={{this.possibleAttendeesMicrosoftTeams}}
                                @renderInPlace={{true}}
                                @selectedItemComponent='selected-item-attendees'
                                @onchange={{action this.startRegisterAttendeesFlow}}
                                @onInput={{this.checkLength}} as |name|>
                                {{name.dispName}}
                            </PowerSelectMultiple>
                        {{/if}}
                        {{#if (eq this.displayedWebMeetings this.appNameWebexMeetings)}}
                            <PowerSelectMultiple
                                @searchField='name'
                                @selected={{this.selectedAttendees}}
                                @options={{this.possibleAttendeesWebexMeetings}}
                                @renderInPlace={{true}}
                                @selectedItemComponent='selected-item-attendees'
                                @onchange={{action this.startRegisterAttendeesFlow}}
                                @onInput={{this.checkLength}} as |name|>
                                {{name.dispName}}
                            </PowerSelectMultiple>
                        {{/if}}
                    </div>
                    <div local-class='WebMeetings__text_danger' class='text-danger'>{{this.msgInvalidAttendees}}</div>
                    <div local-class='WebMeetings__text_danger' class='text-danger'>{{this.canNotRegisterContrib}}</div>
                {{/if}}
                <div local-class='WebMeetings__input_items'>
                    <table>
                        <tr>
                            <td style='width: 23%;'><label>{{t 'web_meetings.start_datetime'}}</label><label class='text-danger'>{{t 'web_meetings.asterisk'}}</label></td><td style='width: 15%;'></td><td style='width: 5%;'></td>
                            <td style='width: 13%;'><label>{{t 'web_meetings.duration'}}</label><label class='text-danger'>{{t 'web_meetings.asterisk'}}</label></td><td style='width: 8%;'></td><td style='width: 13%;'></td><td style='width: 8%;'></td><td></td>
                        </tr>
                        <tr>
                            <td>
                                {{bootstrap-datepicker
                                    id='update_start_date'
                                    class='form-control'
                                    type='text'
                                    value=this.webMeetingsStartDate
                                    format='yyyy/mm/dd'
                                    todayHighlight=true
                                    hide=(action this.fixDate 'update')
                                }}
                            </td>
                            <td>
                                <select id='update_web_meetings_start_time' class='form-control'>
                                    {{#each this.times as |times|}}
                                        {{#if (eq times this.webMeetingsStartTime)}}
                                            <option value={{times}} selected>{{times}}</option>
                                        {{else}}
                                            <option value={{times}}>{{times}}</option>
                                        {{/if}}
                                    {{/each}}
                                </select>
                            </td>
                            <td><label local-class='WebMeetings__input_items'>&nbsp;&nbsp;&nbsp;&nbsp;</label></td>
                            <td>
                                <select id='update_web_meetings_duration_hours' class='form-control'>
                                    {{#each this.hours as |hours|}}
                                        {{#if (eq hours this.webMeetingsDurationHours)}}
                                            <option value={{hours}} selected>{{hours}}</option>
                                        {{else}}
                                            <option value={{hours}}>{{hours}}</option>
                                        {{/if}}
                                    {{/each}}
                                </select>
                            </td>
                            <td>&nbsp;&nbsp;{{t 'web_meetings.hour'}}&nbsp;&nbsp;</td>
                            <td>
                                <select id='update_web_meetings_duration_minutes' class='form-control'>
                                    {{#each this.minutes as |minutes|}}
                                        {{#if (eq minutes this.webMeetingsDurationMinutes)}}
                                            <option value={{minutes}} selected>{{minutes}}</option>
                                        {{else}}
                                            <option value={{minutes}}>{{minutes}}</option>
                                        {{/if}}
                                    {{/each}}
                                </select>
                            </td>
                            <td>&nbsp;&nbsp;{{t 'web_meetings.minutes'}}</td>
                            <td>{{this.tz}}</td>
                        </tr>
                    </table>
                </div>
                <div local-class='WebMeetings__text_danger' class='text-danger'>{{this.msgInvalidDatetime}}</div>
                <div local-class='WebMeetings__input_items'>
                    <label>{{t 'web_meetings.content'}}</label>
                    {{textarea
                        name='webMeetingsContent'
                        class='form-control'
                        value=this.webMeetingsContent
                        placeholder=(t 'web_meetings.placeholders.content')
                    }}
                </div>
            </div>
            <script
                {{did-insert (action this.setDefaultDate 'update')}}
            ></script>
        {{/if}}
    </modal.body>
    <modal.footer>
        {{#if this.upcomingMode}}
            {{#if this.detailMode}}
                <BsButton
                    @onClick={{action modal.close}}
                >
                    {{t 'web_meetings.meetingDialog.closeBtn'}}
                </BsButton>
                <OsfButton
                    @type='info'
                    @onClick={{action (action this.startMeeting this.webMeetingsJoinUrl)}}
                >
                    {{t 'web_meetings.meetingDialog.startBtn'}}
                </OsfButton>
                <OsfButton
                    @type='success'
                    @onClick={{action this.makeUpdateWebMeetingDialog this.webMeetingsPk this.webMeetingsUpdateMeetingId this.webMeetingsDetailSubject this.webMeetingsDetailAttendees this.webMeetingsDetailStartDateTime this.webMeetingsDetailEndDateTime this.webMeetingsDetailContent this.webMeetingsPassword this.webMeetingsJoinUrl this.displayedWebMeetings}}
            >
                    {{t 'web_meetings.meetingDialog.updateBtn'}}
                </OsfButton>
            {{else}}
                <BsButton
                    @onClick={{action (mut this.detailMode) true}}
                >
                    {{t 'web_meetings.meetingDialog.closeBtn'}}
                </BsButton>
                <OsfButton
                    @type='success'
                    @onClick={{action modal.submit}}
                >
                    {{t 'web_meetings.meetingDialog.saveBtn'}}
                </OsfButton>
            {{/if}}
        {{else}}
            <BsButton
                @onClick={{action modal.close}}
            >
                {{t 'web_meetings.meetingDialog.closeBtn'}}
            </BsButton>
        {{/if}}
    </modal.footer>
</BsModal>

<BsModal
    data-test-register-meeting-attendee-modal
    @open={{this.showRegisterWebMeetingsEmailDialog}}
    @onSubmit={{action this.manageWebMeetingsEmail 'create' '' this.displayedUserFullname this.displayedUserGuid false this.displayedUserHasGrdmAccount false this.displayedWebMeetings []}}
    @onHidden={{action (mut this.showRegisterWebMeetingsEmailDialog) false}}
    @onHide={{action this.resetRegisterEmailValue}}
    @scrollable={{true}}
    style='margin-top: 65px; margin-right: 40px; margin-left: 40px;'
    as |modal|
>
    <modal.header>
        <h4 style='font-weight:normal;'>
            {{t 'web_meetings.meetingDialog.registerEmailHeader' appName=this.displayedWebMeetings}}
        </h4>
    </modal.header>
    <modal.body>
        {{#if showRegisterWebMeetingsAppEmailDialog}}
            <label>{{t 'web_meetings.meetingDialog.registerEmail' user=this.displayedUser appName=this.displayedWebMeetings}}</label>
            <div style='margin-top: 20px;' local-class='WebMeetings__input_items'>
                <label>{{t 'web_meetings.accountLabel' appName=this.displayedWebMeetings}}</label><label class='text-danger'>{{t 'web_meetings.asterisk'}}</label>
                {{input
                    name='appUsername'
                    placeholder=(t 'web_meetings.placeholders.email')
                    class='form-control'
                    type='text'
                    value=this.appUsername
                }}
            </div>
            {{#if this.msgInvalidEmail}}
                <div local-class='WebMeetings__text_danger' class='text-danger'>{{this.msgInvalidEmail}}</div>
            {{/if}}
            {{#if this.msgOutsideEmail}}
                <div local-class='WebMeetings__text_danger' class='text-danger'>{{this.msgOutsideEmail}}</div>
            {{/if}}
            {{#if this.msgDuplicatedEmail}}
                <div local-class='WebMeetings__text_danger' class='text-danger'>{{this.msgDuplicatedEmail}}</div>
            {{/if}}
            <div>
                <button onClick={{action this.manageWebMeetingsEmail 'create' '' this.displayedUserFullname this.displayedUserGuid true true false this.displayedWebMeetings []}} style='margin-top: 20px; margin-left: 5px;'>{{t 'web_meetings.registerAsGuest' appName=this.displayedWebMeetings}}</button>
        </div>
        {{/if}}
        {{#if showRegisterWebMeetingsGuestEmailDialog}}
            <label>{{t 'web_meetings.meetingDialog.registerGuestEmail'}}</label>
            <div style='margin-top: 20px;' local-class='WebMeetings__input_items'>
                <label>{{t 'web_meetings.meetingDialog.dispLabel'}}</label><label class='text-danger'>{{t 'web_meetings.asterisk'}}</label>&nbsp;<span data-toggle='tooltip' title={{t 'web_meetings.help.dispLabel' appName=this.displayedWebMeetings}}>{{fa-icon 'question-circle'}}</span>
                {{input
                    name='appDisplayName'
                    placeholder=(t 'web_meetings.placeholders.guestname')
                    class='form-control'
                    type='text'
                    value=this.appDisplayName
                }}
            </div>
            {{#if this.msgInvalidFullname}}
                <div local-class='WebMeetings__text_danger' class='text-danger'>{{this.msgInvalidFullname}}</div>
            {{/if}}
            <div style='margin-top: 20px;' local-class='WebMeetings__input_items'>
                <label>{{t 'web_meetings.meetingDialog.emailLabel'}}</label><label class='text-danger'>{{t 'web_meetings.asterisk'}}</label>
                {{input
                    name='appUsername'
                    placeholder=(t 'web_meetings.placeholders.email')
                    class='form-control'
                    type='text'
                    value=this.appUsername
                }}
            </div>
            {{#if this.msgInvalidEmail}}
                <div local-class='WebMeetings__text_danger' class='text-danger'>{{this.msgInvalidEmail}}</div>
            {{/if}}
            {{#if this.msgDuplicatedEmail}}
                <div local-class='WebMeetings__text_danger' class='text-danger'>{{this.msgDuplicatedEmail}}</div>
            {{/if}}
            {{#if this.msgOutsideEmail}}
                <div local-class='WebMeetings__text_danger' class='text-danger'>{{this.msgOutsideEmail}}</div>
                <div>
                    <button onClick={{action this.manageWebMeetingsEmail 'create' '' this.displayedUserFullname this.displayedUserGuid true false false this.displayedWebMeetings []}} style='margin-top: 20px; margin-left: 5px;'>{{t 'web_meetings.registerAsGuest' appName=this.displayedWebMeetings}}</button>
                </div>
            {{/if}}
        {{/if}}
    </modal.body>
    <modal.footer>
        <BsButton
            @onClick={{action modal.close}}
        >
            {{t 'web_meetings.meetingDialog.closeBtn'}}
        </BsButton>
                <OsfButton
                    @type='success'
                    @onClick={{action modal.submit}}
                >
                    {{t 'web_meetings.meetingDialog.registerBtn'}}
                </OsfButton>
    </modal.footer>
</BsModal>

<BsModal
    data-test-update-meeting-attendee-modal
    @open={{this.showUpdateWebMeetingsEmailDialog}}
    @onSubmit={{action this.manageWebMeetingsEmail 'update' this.displayedUserId this.displayedUserFullname this.displayedUserGuid false this.displayedUserHasGrdmAccount false this.displayedWebMeetings []}}
    @onHidden={{action (mut this.showUpdateWebMeetingsEmailDialog) false}}
    @onHide={{action this.resetRegisterEmailValue}}
    @scrollable={{true}}
    @position={{'center'}}
    as |modal|
>
    <modal.header>
        <h4 style='font-weight:normal;'>
            {{t 'web_meetings.meetingDialog.registerEmailHeader' appName=this.displayedWebMeetings}}
        </h4>
    </modal.header>
    <modal.body>
        <div style='margin-top: 20px;' local-class='WebMeetings__input_items'>
            <div>{{t 'web_meetings.meetingDialog.updateThisAttendee' user=this.displayedUser}}</div>
        </div>
        <div style='margin-top: 20px;' local-class='WebMeetings__input_items'>
            <label>{{t 'web_meetings.meetingDialog.emailLabel'}}</label><label class='text-danger'>{{t 'web_meetings.asterisk'}}</label>
            {{input
                name='appUsername'
                placeholder=(t 'web_meetings.placeholders.email')
                class='form-control'
                type='text'
                value=this.appUsername
            }}
        </div>
        {{#if this.msgInvalidEmail}}
            <div local-class='WebMeetings__text_danger' class='text-danger'>{{this.msgInvalidEmail}}</div>
        {{/if}}
        {{#if this.msgOutsideEmail}}
            <div local-class='WebMeetings__text_danger' class='text-danger'>{{this.msgOutsideEmail}}</div>
        {{/if}}
        {{#if this.msgDuplicatedEmail}}
            <div local-class='WebMeetings__text_danger' class='text-danger'>{{this.msgDuplicatedEmail}}</div>
        {{/if}}
        <div>
            <button onClick={{action this.manageWebMeetingsEmail 'update' this.displayedUserId this.displayedUserFullname this.displayedUserGuid true this.displayedUserHasGrdmAccount false this.displayedWebMeetings []}} style='margin-top: 20px; margin-left: 5px;' local-class='WebMeetings__button_guest'>{{t 'web_meetings.updateAsGuest' appName=this.displayedWebMeetings}}</button>
        </div>
    </modal.body>
    <modal.footer>
        <BsButton
            @onClick={{action modal.close}}
        >
            {{t 'web_meetings.meetingDialog.closeBtn'}}
        </BsButton>
                <OsfButton
                    @type='success'
                    @onClick={{action modal.submit}}
                >
                    {{t 'web_meetings.meetingDialog.updateBtn'}}
                </OsfButton>
    </modal.footer>
</BsModal>

<BsModal
    data-test-delete-attendees-modal
    @open={{this.showDeleteWebMeetingsEmailDialog}}
    @onSubmit={{action this.manageWebMeetingsEmail 'delete' this.displayedUserId}}
    @onHidden={{action (mut this.showDeleteWebMeetingsEmailDialog) false}}
    @onHide={{action this.resetRegisterEmailValue}}
    @scrollable={{true}}
    as |modal|
>
    <modal.header>
        <h4 style='font-weight:normal;'>
             {{t 'web_meetings.meetingDialog.registerEmailHeader' appName=this.displayedWebMeetings}}
        </h4>
    </modal.header>
    <modal.body>
        <div style='margin-top: 20px;' local-class='WebMeetings__input_items'>
            <div>{{t 'web_meetings.meetingDialog.deleteThisAttendee' user=this.displayedUser}}</div>
        </div>
    </modal.body>
    <modal.footer>
        <BsButton
            @onClick={{action modal.close}}
        >
            {{t 'web_meetings.meetingDialog.cancelBtn'}}
        </BsButton>
        <OsfButton
            @type='danger'
            @onClick={{action modal.submit}}
        >
            {{t 'web_meetings.meetingDialog.deleteBtn'}}
        </OsfButton>
    </modal.footer>
</BsModal>