<div local-class='project_editor'>
    {{#if this.loading}}
        {{t 'binderhub.loading'}}
    {{else}}
        {{#if this.manuallyChanged}}
            {{t 'binderhub.deployment.unavailable'}}
            {{#if this.node.userHasWritePermission}}
                <button
                    data-test-view-dockerfile
                    type='button'
                    class='btn btn-default'
                    {{action this.viewDirtyFiles target=this}}
                >
                    {{t 'binderhub.deployment.view_dockerfile'}}
                    {{this.dirtyConfigurationFilenames}}
                </button>
                <button
                    data-test-reset-dockerfile
                    type='button'
                    class='btn btn-danger'
                    {{action (mut this.showResetDockerfileConfirmDialog) true}}
                >
                    {{t 'binderhub.deployment.reset_dockerfile'}}
                    {{this.dirtyConfigurationFilenames}}
                </button>
            {{/if}}
        {{else}}
            <h3>{{t 'binderhub.deployment.environment'}}<//h3>
            {{#if (or this.node.userHasWritePermission this.selectedImageUrl)}}
                {{#each this.selectableImages as |image|}}
                    <div local-class='environment_candidate'>
                        <div local-class='environment_info'>
                            <div local-class='environment_name'>
                                {{image.name}}
                                {{#if (eq this.selectedImageUrl image.url)}}
                                    <i
                                        data-test-image-selected={{image.url}}
                                        class='fa fa-check'
                                    />
                                {{/if}}
                            </div>
                            <div local-class='environment_description'>{{image.description}}</div>
                        </div>
                        <div local-class='environment_select'>
                            {{#if this.node.userHasWritePermission}}
                                {{#if (or (not this.selectedImageUrl) this.imageSelectable)}}
                                    <button
                                        data-test-image-selection={{image.url}}
                                        type='button'
                                        class='btn btn-default'
                                        {{action this.selectImage image.url target=this}}
                                    >
                                        {{t 'binderhub.deployment.select_environment'}}
                                    </button>
                                {{else}}
                                    <button
                                        data-test-image-change={{image.url}}
                                        type='button'
                                        class='btn btn-default'
                                        {{action (mut this.imageSelectable) true}}
                                    >
                                        {{t 'binderhub.deployment.change_environment'}}
                                    </button>
                                {{/if}}
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            {{else}}
                {{t 'binderhub.deployment.no_environment'}}
            {{/if}}
            {{#if this.selectedImageUrl}}
                <h3>{{t 'binderhub.deployment.additionalpackages'}}</h3>
                <div local-class='packages'>
                    <GuidNode::Binderhub::-Components::PackageEditor
                        data-test-package-editor='apt'
                        @node={{this.node}}
                        @label='apt-get'
                        @packages={{this.aptPackages}}
                        @onUpdate={{action this.aptUpdated}}
                        @editing={{if (eq this.editingPackage 'apt') 'editing'}}
                        @onEditingStart={{action (mut this.editingPackage) 'apt'}}
                        @onEditingEnd={{action (mut this.editingPackage) ''}}
                    />
                    {{#if this.condaSupported}}
                        <GuidNode::Binderhub::-Components::PackageEditor
                            data-test-package-editor='conda'
                            @node={{this.node}}
                            @label='conda'
                            @packages={{this.condaPackages}}
                            @onUpdate={{action this.condaUpdated}}
                            @editing={{if (eq this.editingPackage 'conda') 'editing'}}
                            @onEditingStart={{action (mut this.editingPackage) 'conda'}}
                            @onEditingEnd={{action (mut this.editingPackage) ''}}
                        />
                    {{/if}}
                    {{#if this.pipSupported}}
                        <GuidNode::Binderhub::-Components::PackageEditor
                            data-test-package-editor='pip'
                            @node={{this.node}}
                            @label='pip'
                            @packages={{this.pipPackages}}
                            @onUpdate={{action this.pipUpdated}}
                            @editing={{if (eq this.editingPackage 'pip') 'editing'}}
                            @onEditingStart={{action (mut this.editingPackage) 'pip'}}
                            @onEditingEnd={{action (mut this.editingPackage) ''}}
                        />
                    {{/if}}
                    {{#if this.rCranSupported}}
                        <GuidNode::Binderhub::-Components::PackageEditor
                            data-test-package-editor='rcran'
                            @node={{this.node}}
                            @label='R (CRAN)'
                            @packages={{this.rCranPackages}}
                            @onUpdate={{action this.rCranUpdated}}
                            @editing={{if (eq this.editingPackage 'rcran') 'editing'}}
                            @onEditingStart={{action (mut this.editingPackage) 'rcran'}}
                            @onEditingEnd={{action (mut this.editingPackage) ''}}
                        />
                    {{/if}}
                    {{#if this.rGitHubSupported}}
                        <GuidNode::Binderhub::-Components::PackageEditor
                            data-test-package-editor='rgithub'
                            @node={{this.node}}
                            @label='R (GitHub)'
                            @packages={{this.rGitHubPackages}}
                            @onUpdate={{action this.rGitHubUpdated}}
                            @editing={{if (eq this.editingPackage 'rgithub') 'editing'}}
                            @onEditingStart={{action (mut this.editingPackage) 'rgithub'}}
                            @onEditingEnd={{action (mut this.editingPackage) ''}}
                        />
                    {{/if}}
                    {{#if this.rMranSupported}}
                        <GuidNode::Binderhub::-Components::PackageEditor
                            data-test-package-editor='rmran'
                            @node={{this.node}}
                            @label='R (MRAN)'
                            @packages={{this.rMranPackages}}
                            @onUpdate={{action this.rMranUpdated}}
                            @editing={{if (eq this.editingPackage 'rmran') 'editing'}}
                            @onEditingStart={{action (mut this.editingPackage) 'rmran'}}
                            @onEditingEnd={{action (mut this.editingPackage) ''}}
                        />
                        {{#if this.mranVersionSettingError}}
                            <div local-class='environment_setting_error'>
                                {{t 'binderhub.deployment.mran_version_setting_error'}}
                            </div>
                        {{/if}}
                    {{/if}}
                    {{#if this.mpmSupported}}
                        <GuidNode::Binderhub::-Components::MpmPackageEditor
                            data-test-package-editor='mpm'
                            @node={{this.node}}
                            @label='MATLAB (mpm)'
                            @url={{t 'binderhub.deployment.info_urls.mpm'}}
                            @config={{this.mpmConfig}}
                            @onUpdate={{action this.mpmUpdated}}
                            @editing={{if (eq this.editingPackage 'mpm') 'editing'}}
                            @onEditingStart={{action (mut this.editingPackage) 'mpm'}}
                            @onEditingEnd={{action (mut this.editingPackage) ''}}
                        />
                    {{/if}}
                </div>
                <h3>
                    {{t 'binderhub.deployment.postinstallscript'}}
                    <OsfButton
                        @type='link'
                        @onClick={{action (mut this.postBuildOpen) (not this.postBuildOpen)}}
                    >
                        {{#if this.postBuildOpen}}
                            {{fa-icon 'chevron-down'}}
                        {{else}}
                            {{fa-icon 'chevron-right'}}
                        {{/if}}
                    </OsfButton>
                </h3>
                <div local-class='postscript_view'>
                    {{#if this.postBuildOpen}}
                        <textarea
                            data-test-post-build
                            readonly={{not this.node.userHasWritePermission}}
                            name='post_build'
                            class='form-control'
                            rows='4'
                            placeholder={{t 'binderhub.deployment.post_build_placeholder'}}
                            value={{this.postBuild}}
                            onkeyup={{action this.editPostBuild value='target.value'}}
                            onchange={{action this.editPostBuild value='target.value'}}
                        />

                        {{#if this.node.userHasWritePermission}}
                            <div local-class='postscript_button'>
                                <button
                                    data-test-save-post-build
                                    type='button'
                                    class='btn btn-default'
                                    disabled={{not this.editedPostBuild}}
                                    {{action this.savePostBuild}}
                                >
                                    {{fa-icon 'save'}}
                                    {{t 'binderhub.deployment.save_post_build'}}
                                </button>
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
            {{/if}}
        {{/if}}
    {{/if}}
</div>

<BsModal
    data-test-reset-dockerfile-confirm-modal
    @open={{this.showResetDockerfileConfirmDialog}}
    @onHidden={{action (mut this.showResetDockerfileConfirmDialog) false}}
    as |modal|
>
    <modal.header>
        <h4>
            {{t 'binderhub.deployment.reset_dockerfile_confirm_dialog_title'}}
            {{this.dirtyConfigurationFilenames}}
        </h4>
    </modal.header>
    <modal.body>
        {{t 'binderhub.deployment.reset_dockerfile_confirm_dialog_body'}}
    </modal.body>
    <modal.footer>
        <BsButton
            @onClick={{action (mut this.showResetDockerfileConfirmDialog) false}}
        >
            {{t 'general.cancel'}}
        </BsButton>
        <BsButton
            @onClick={{action this.resetDirtyFiles}}
            @type='danger'
        >
            {{t 'general.ok'}}
        </BsButton>
    </modal.footer>
</BsModal>
