{{title (t 'registries.drafts.draft.metadata.title')}}

{{#if this.loading}}
    <LoadingIndicator @dark={{true}} />
{{else}}
    <main>
        <h2 local-class='PageHeading'>
            {{t 'registries.registration_metadata.metadata_page_heading'}}
        </h2>
        <p local-class='HeadingParagraph'>
            {{t 'registries.registration_metadata.metadata_page_description'}}
        </p>
        <hr>
        <form local-class='Metadata'>
            <FormControls
                @changeset={{this.draftManager.metadataChangeset}}
                ...attributes
                as |form|
            >
                {{#let (unique-id 'title') as |titleFieldId|}}
                    <label
                        local-class='Label'
                        for={{titleFieldId}}
                        id='title'
                    >
                        <p local-class='DisplayText'>
                            {{t 'registries.registration_metadata.title'}}
                            <span local-class='Required'>*</span>
                        </p>
                    </label>
                    <form.text
                        data-test-metadata-title
                        local-class='SchemaBlockInput'
                        @valuePath='title'
                        @onKeyUp={{perform this.draftManager.onMetadataInput}}
                        @placeholder=' '
                        @uniqueID={{titleFieldId}}
                    />
                {{/let}}
            </FormControls>
        </form>
    </main>
{{/if}}
