<div local-class='jupyter_servers'>
    <BsAlert
        @type='danger'
        @dismissible={{false}}
        @visible={{this.notAuthorized}}
        local-class='BinderHub__connection_alert'
    >
        {{t 'binderhub.error.jupyterhub_auth_error'}}
        <button
            data-test-authorize-jupyterhub
            type='button'
            class='btn btn-danger'
            {{action this.authorize}}
        >
            {{t 'binderhub.error.reconnect_jupyterhub'}}
        </button>
    </BsAlert>
    <h2
        data-test-servers-header
        local-class='BinderHub__header'
        >
        {{t 'binderhub.jupyter_servers_list.header'}}
    </h2>
    {{#if this.loading}}
        {{t 'binderhub.loading'}}
    {{else}}
        {{#if (not this.apiLoaded)}}
            <a href={{this.serversLink}} target='_blank' rel='noopener'>
                {{t 'binderhub.servers.server_hub_home'}}
            </a>
        {{else}}
            <div local-class='jupyterhub-server-submenu'>
                <div local-class='jupyterhub-servers'>
                    {{#if (eq this.servers.length 0)}}
                        {{t 'binderhub.servers.server_not_exists'}}
                    {{else}}
                        {{t
                            'binderhub.servers.server_exists'
                            servers=this.servers.length
                        }}
                    {{/if}}
                    {{#if this.maxServersExceeded}}
                        <strong data-test-max-servers-exceeded local-class='max-servers-exceeded'>
                            {{t 'binderhub.servers.max_servers_exceeded'}}
                        </strong>
                    {{/if}}
                    <a href={{this.serversLink}} target='_blank' rel='noopener'>
                        {{t 'binderhub.servers.server_hub_home'}}
                    </a>
                </div>
                {{#if this.defaultJupyterhubUser}}
                    <div local-class='jupyterhub-user'>
                        {{t 'binderhub.servers.username'}}
                        <span data-test-jupyterhub-user>
                            {{this.defaultJupyterhubUser}}
                        </span>
                        {{#if this.canLogout}}
                            <OsfButton
                                @type='link'
                                @onClick={{action this.performLogout}}
                            >
                                {{t 'binderhub.servers.logout'}}
                            </OsfButton>
                        {{/if}}
                    </div>
                {{/if}}
            </div>
            <div local-class='toolbar-button'>
                <button
                    data-test-server-refresh-button
                    type='button'
                    class='btn btn-default'
                    local-class='refresh-button'
                    {{action this.refreshServers target=this}}
                >
                    {{fa-icon 'fa-undo'}}
                </button>
            </div>
            <table class='table table-responsive' data-test-server-list>
                <thead>
                    <tr>
                        <th class='col-md-2'>{{t 'binderhub.servers.name'}}</th>
                        <th class='col-md-3'>{{t 'binderhub.servers.url'}}</th>
                        <th class='col-md-3'>{{t 'binderhub.servers.last_activity'}}</th>
                        <th class='col-md-2'>{{t 'binderhub.servers.launch'}}</th>
                        <th class='col-md-2'>{{t 'binderhub.servers.delete'}}</th>
                    </tr>
                </thead>
                <tbody local-class='jupyter-server'>
                    {{#if this.servers.length}}
                        {{#each this.servers as |server index|}}
                            <tr>
                                <td class='col-md-2' data-test-server-list-item={{index}}>{{server.entry.name}}</td>
                                <td class='col-md-3'>
                                    {{#if server.entry.ready}}
                                        <button
                                            data-test-server-link
                                            type='button'
                                            class='btn btn-link'
                                            local-class='jupyter-link'
                                            {{action this.openServer server target=this}}
                                        >
                                            {{server.entry.url}}
                                        </button>
                                    {{/if}}
                                </td>
                                <td class='col-md-3'> {{moment-format server.entry.last_activity 'YYYY-MM-DD hh:mm A'}}</td>
                                <td class='col-md-2'>
                                    <GuidNode::Binderhub::-Components::LaunchButtons
                                        @binderHubConfig={{this.binderHubConfig}}
                                        @onClick={{action this.openServerWithPath server}}
                                    />
                                </td>
                                <td class='col-md-2'>
                                    <button
                                        data-test-server-link
                                        type='button'
                                        class='btn btn-default'
                                        {{action (mut this.showDeleteConfirmDialogTarget) server}}
                                    >
                                        {{fa-icon 'fa-trash'}}
                                    </button>
                                </td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr>
                            <td colspan='5' class='col-md-12' local-class='no-jupyter-servers'>
                                {{t 'binderhub.servers.no_servers'}}
                            </td>
                        </tr>
                    {{/if}}
                </tbody>
            </table>
        {{/if}}
    {{/if}}
    <BsModal
        data-test-delete-server-confirm-modal
        @open={{this.showDeleteConfirmDialogTarget}}
        @onHidden={{action (mut this.showDeleteConfirmDialogTarget) null}}
        as |modal|
    >
        <modal.header>
            <h4>
                {{t 'binderhub.jupyter_servers_list.delete_confirm_dialog_title'}}
            </h4>
        </modal.header>
        <modal.body>
            {{t 'binderhub.jupyter_servers_list.delete_confirm_dialog_body'}}
            {{this.showDeleteConfirmDialogTarget.name}}
        </modal.body>
        <modal.footer>
            <BsButton
                @disabled={{this.submitting}}
                @onClick={{action (mut this.showDeleteConfirmDialogTarget) null}}
            >
                {{t 'general.cancel'}}
            </BsButton>
            <BsButton
                @onClick={{action this.deleteServer}}
                @type='danger'
            >
                {{t 'general.ok'}}
            </BsButton>
        </modal.footer>
    </BsModal>
</div>
