{{! using unsafeTitle here to avoid double encoding because the title helper does its own }}
{{title 'integromat'}}
<div class='container' local-class='Integromat'>
    {{#if this.loading}}
        {{t 'integromat.loading'}}
    {{else}}

        <div class='row' local-class='Integromat__header'>
            <ul local-class='Integromat__menu'><li><span class='btn btn-link'>{{t 'integromat.workflowListLabel'}}</span>{{fa-icon 'angle-right'}}</li></ul>
        </div>
        <div>
            <div local-class='Integromat__sidebar' >
                <div>
                    <h5>
                        {{t 'integromat.categoryLabel'}}
                        <span>
                            {{fa-icon 'info-circle'}}
                            <BsTooltip>
                                {{t 'integromat.categoryDesp'}}
                            </BsTooltip>
                        </span>
                    </h5>
                    <ul local-class='Integromat__menu'>
                        <li>
                            <span>
                                <a {{action this.displayWorkflows}}>
                                    {{t 'integromat.workflowListLabel'}}
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            {{#if this.showWorkflows}}
                <div id='workflows' class='main-screen' local-class='Integromat__workflows'>
                    <table data-test-workflows-table class='table table-bordered'>
                        <thead>
                            <tr style='background-color: #f5f5f5;'>
                                <th width='50%'>
                                    <span>{{t 'integromat.workflowLabel'}}</span>
                                </th>
                                <th width='50%'>
                                    <span>{{t 'integromat.integratedAppsLabel'}}</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each this.workflows as |row|}}
                                <tr>
                                    <td>
                                        <a {{action (mut this.showAllWebMeetings) true}} {{action (mut this.showWorkflows) false}}>
                                            {{t row.fields.workflow_description}}
                                        </a>
                                    </td>
                                    <td>
                                        {{t row.fields.workflow_apps}}
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/if}}
        </div>
        {{#if this.showAllWebMeetings}}
            <div  data-test-web-meeting-screen class='col-md-9' local-class='Integromat__webApp_screen'>
                <div id='allWebMeetings' class='main-screen'>
                    <div local-class='Integromat__web_meeting_navbar'>
                        <label style='margin-top:10px;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{t 'integromat.integratedAppsLabel'}}{{t 'integromat.colon'}}{{t 'integromat.workflows.web_meeting.apps'}}</label>
                        <button style='margin-top:10px; margin-right:10px;'
                              data-test-craete-meeting-button
                              local-class='Integromat__buttons'
                              class='text-success pull-right'
                              type='text'
                              onClick={{action (mut this.showCreateWebMeetingDialog) true}}
                          >
                            {{fa-icon 'plus'}}&nbsp;{{t 'integromat.meetingDialog.createLabel'}}
                        </button>
                    </div>
                    <BsTab local-class='Integromat__web_meeting_tab' as |tab|>
                        <tab.pane @title={{t 'integromat.upcoming'}}>
                            {{#if (eq this.upcoming_web_meetings.length 0)}}
                                <p local-class='Integromat__statement'>{{t 'integromat.noUpcomingMeetings'}}</p>
                            {{else}}
                                <div class='row' id='upcoming-meeting-table-row'>
                                    <div class='col-xs-12'>
                                        <table class='table'>
                                            <thead>
                                                <tr style='background-color: #f5f5f5;'>
                                                    <th width='25%'>
                                                        <span class='header_text m-r-sm'>{{t 'integromat.subject'}}</span>
                                                    </th>
                                                    <th width='25%'>
                                                        <span class='header_text m-r-sm'>{{t 'integromat.organizer'}}</span>
                                                    </th>
                                                    <th width='20%'>
                                                        <span class='header_text m-r-sm'>{{t 'integromat.start_datetime'}}</span>
                                                    </th>
                                                    <th width='30%'>
                                                        <span class='header_text m-r-sm'>{{t 'integromat.joinUrl'}}</span>
                                                    </th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each this.upcoming_web_meetings as |row|}}
                                                    <tr local-class='Integromat__tr'>
                                                        <td local-class='Integromat__td'>
                                                            <a onClick={{action (action this.makeDetailMeetingDialog row.fields.meetingid)}}>
                                                                {{row.fields.subject}}
                                                            </a>
                                                        </td>
                                                        <td local-class='Integromat__td'>{{row.fields.organizer_fullname}}</td>

                                                        <td local-class='Integromat__td'>{{moment-format row.fields.start_datetime 'YYYY-MM-DD HH:mm'}}</td>
                                                        <td local-class='Integromat__td'>
                                                            <CopyableText
                                                                @text={{row.fields.join_url}}
                                                            />
                                                        </td>
                                                        <td local-class='Integromat__td'>
                                                            <button class='fa fa-play'
                                                                  onClick={{action this.startMeeting row.fields.join_url}}></button>
                                                        </td>
                                                        <td class='text-info' local-class='Integromat__td'>
                                                            <button class='fa fa-edit'
                                                                  onClick={{action this.makeUpdateMeetingDialog row.pk row.fields.meetingid row.fields.join_url row.fields.meeting_password row.fields.app row.fields.subject row.fields.attendees row.fields.start_datetime row.fields.end_datetime row.fields.location row.fields.content}}></button>
                                                        </td>
                                                        <td class='text-danger' local-class='Integromat__td'>
                                                            <button class='fa fa-trash'
                                                                  onClick={{action this.makeDeleteDialog row.fields.meetingid row.fields.app row.fields.subject row.fields.start_datetime row.fields.end_datetime}}></button>
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {{/if}}
                        </tab.pane>
                        <tab.pane @title={{t 'integromat.previous'}}>
                            {{#if (eq this.previous_web_meetings.length 0)}}
                                <p local-class='Integromat__statement'>{{t 'integromat.noPreviousMeetings'}}</p>
                            {{else}}
                                <div class='row' id='previous-meeting-table-row'>
                                    <div class='col-xs-12'>
                                        <table class='table'>
                                            <thead>
                                                <tr style='background-color: #f5f5f5;'>
                                                    <th width='25%'>
                                                        <span class='header_text m-r-sm'>{{t 'integromat.subject'}}</span>
                                                    </th>
                                                    <th width='25%'>
                                                        <span class='header_text m-r-sm'>{{t 'integromat.organizer'}}</span>
                                                    </th>
                                                    <th width='20%'>
                                                        <span class='header_text m-r-sm'>{{t 'integromat.start_datetime'}}</span>
                                                    </th>
                                                    <th width='30%'>
                                                        <span class='header_text m-r-sm'>{{t 'integromat.joinUrl'}}</span>
                                                    </th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each this.previous_web_meetings as |row|}}
                                                    <tr local-class='Integromat__tr'>
                                                        <td local-class='Integromat__td'>
                                                            <a onClick={{action (action this.makeDetailMeetingDialog row.fields.meetingid)}}>
                                                                {{row.fields.subject}}
                                                            </a>
                                                        </td>
                                                        <td local-class='Integromat__td'>{{row.fields.organizer_fullname}}</td>

                                                        <td local-class='Integromat__td'>{{moment-format row.fields.start_datetime 'YYYY-MM-DD HH:mm'}}</td>
                                                        <td local-class='Integromat__td'>
                                                            <CopyableText
                                                                @text={{row.fields.join_url}}
                                                            />
                                                        </td>
                                                        <td local-class='Integromat__td'>
                                                            <button class='fa fa-play' onClick={{action this.startMeeting row.fields.join_url}}></button>
                                                        </td>
                                                        <td class='text-info' local-class='Integromat__td'>
                                                            <button class='fa fa-edit'
                                                                  onClick={{action this.makeUpdateMeetingDialog row.pk row.fields.meetingid row.fields.join_url row.fields.meeting_password row.fields.app row.fields.subject row.fields.attendees row.fields.start_datetime row.fields.end_datetime row.fields.location row.fields.content}}></button>
                                                        </td>
                                                        <td class='text-danger' local-class='Integromat__td'>
                                                            <button class='fa fa-trash' onClick={{action this.makeDeleteDialog row.fields.meetingid row.fields.app row.fields.subject row.fields.start_datetime row.fields.end_datetime}}></button>
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {{/if}}
                        </tab.pane>
                    </BsTab>
                </div>
            </div>
        {{/if}}
    {{/if}}
</div>


<!-- modal-dialog -->
<BsModal
    data-test-create-meeting-modal
    @backdropClose={{false}}
    @open={{this.showCreateWebMeetingDialog}}
    @onSubmit={{action this.createWebMeeting}}
    @onHidden={{action (mut this.showCreateWebMeetingDialog) false}}
    @onHide={{action this.setWebMeetingApp}}
    as |modal|
>
    <modal.header>
        <h4 style='font-weight:normal;'>
            {{t 'integromat.meetingDialog.createHeader' appName=this.webMeetingAppNameDisp}}
        </h4>
    </modal.header>
    <modal.body>
        <div class='form-group'>
            {{#each this.web_meeting_apps as |appName|}}
                <input type='radio' name='webMeetingAppName' id='radio_{{appName.fields.app_name}}' onClick={{action this.setWebMeetingApp appName.fields.app_name 'create'}}>
                <label for='radio_{{appName.fields.app_name}}'>
                    {{appName.fields.app_name}}
                </label>
            {{/each}}
            {{#if showCreateMicrosoftTeamsMeetingDialog}}
                <div local-class='Integromat__input_items'>
                    <label>{{t 'integromat.subject'}}</label>
                    {{input
                        name='webMeetingSubject'
                        placeholder=(t 'integromat.placeholders.subject')
                        class='form-control'
                        type='text'
                        value=this.webMeetingSubject
                    }}
                </div>
                <div local-class='Integromat__input_items'>
                    <label>{{t 'integromat.attendees'}}</label>
                    <div>
                        <span id='attendees_inputs'>
                            {{#if this.node_microsoft_teams_attendees}}
                                {{#each this.node_microsoft_teams_attendees as |row|}}
                                    <label local-class='Integromat__label_normal'>
                                        <input class='microsoftTeamsAttendeesCheck' type='checkBox' style='width: 15px; height: 15px;' id={{row.fields.microsoft_teams_mail}}  name={{row.fields.microsoft_teams_user_name}}>
                                        {{row.fields.fullname}}
                                    </label>
                                {{/each}}
                            {{else}}
                                <p>{{t 'integromat.meetingDialog.noAttendees'}}</p>
                            {{/if}}
                        </span>
                    </div>
                </div>
                <div local-class='Integromat__input_items'>
                    <table>
                        <tr>
                            <td><label>{{t 'integromat.start_datetime'}}</label></td><td></td><td></td>
                            <td><label>{{t 'integromat.end_datetime'}}</label></td><td></td>
                        </tr>
                        <tr>
                            <td>
                                {{bootstrap-datepicker
                                    name='teams_start_date'
                                    placeholder=(t 'integromat.placeholders.date_form')
                                    class='form-control'
                                    type='text'
                                    value=this.webMeetingStartDate
                                    format='yyyy/mm/dd'
                                    todayHighlight=true
                                }}
                            </td>
                            <td>
                                <select id='create_teams_start_time' class='form-control'>
                                    {{#each this.times as |times|}}
                                        {{#if (eq times this.defaultStartTime)}}
                                            <option value={{times}} selected>{{times}}</option>
                                        {{else}}
                                            <option value={{times}}>{{times}}</option>
                                        {{/if}}
                                    {{/each}}
                                </select>
                            </td>
                            <td><label local-class='Integromat__input_items'>{{t 'integromat.from_tilde'}}</label></td>
                            <td>
                                {{bootstrap-datepicker
                                    name='teams_end_date'
                                    placeholder=(t 'integromat.placeholders.date_form')
                                    class='form-control'
                                    type='text'
                                    value=this.webMeetingEndDate
                                    format='yyyy/mm/dd'
                                    todayHighlight=true
                                }}
                            </td>
                            <td>
                                <select id='create_teams_end_time' class='form-control'>
                                    {{#each this.times as |times|}}
                                        {{#if (eq times this.defaultEndTime)}}
                                            <option value={{times}} selected>{{times}}</option>
                                        {{else}}
                                            <option value={{times}}>{{times}}</option>
                                        {{/if}}
                                    {{/each}}
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div local-class='Integromat__input_items'>
                    <label>{{t 'integromat.location'}}</label>
                    {{input
                        name='webMeetingLocation'
                        placeholder=(t 'integromat.placeholders.location')
                        class='form-control'
                        type='text'
                        value=this.webMeetingLocation
                    }}
                </div>
                <div local-class='Integromat__input_items'>
                    <label>{{t 'integromat.content'}}</label>
                    {{textarea
                        name='webMeetingContent'
                        class='form-control'
                        value=this.webMeetingContent
                        placeholder=(t 'integromat.placeholders.content')
                    }}
                </div>
            {{/if}}

            {{#if showCreateWebexMeetingDialog}}
                <div local-class='Integromat__input_items'>
                    <label>{{t 'integromat.subject'}}</label>
                    {{input
                        name='webMeetingSubject'
                        placeholder=(t 'integromat.placeholders.subject')
                        class='form-control'
                        type='text'
                        value=this.webMeetingSubject
                    }}
                </div>
                <div local-class='Integromat__input_items'>
                    <label>{{t 'integromat.attendees'}}</label>
                    <div>
                        <span id='attendees_inputs'>
                            {{#if this.node_webex_meetings_attendees}}
                                {{#each this.node_webex_meetings_attendees as |row|}}
                                    <label local-class='Integromat__label_normal'>
                                        <input class='webexMeetingsAttendeesCheck' type='checkBox' style='width: 15px; height: 15px;' id={{row.fields.webex_meetings_mail}} name={{row.fields.webex_meetings_display_name}}>
                                        {{row.fields.fullname}}
                                    </label>
                                {{/each}}
                            {{else}}
                                <p>{{t 'integromat.meetingDialog.noAttendees'}}</p>
                            {{/if}}
                        </span>
                    </div>
                </div>
                <div local-class='Integromat__input_items'>
                    <table>
                        <tr>
                            <td><label>{{t 'integromat.start_datetime'}}</label></td><td></td><td></td>
                            <td><label>{{t 'integromat.end_datetime'}}</label></td><td></td>
                        </tr>
                        <tr>
                            <td>
                                {{bootstrap-datepicker
                                    name='teams_start_date'
                                    placeholder=(t 'integromat.placeholders.date_form')
                                    class='form-control'
                                    type='text'
                                    value=this.webMeetingStartDate
                                    format='yyyy/mm/dd'
                                    todayHighlight=true
                                }}
                            </td>
                            <td>
                                <select id='create_teams_start_time' class='form-control'>
                                    {{#each this.times as |times|}}
                                        {{#if (eq times this.defaultStartTime)}}
                                            <option value={{times}} selected>{{times}}</option>
                                        {{else}}
                                            <option value={{times}}>{{times}}</option>
                                        {{/if}}
                                    {{/each}}
                                </select>
                            </td>
                            <td><label local-class='Integromat__input_items'>{{t 'integromat.from_tilde'}}</label></td>
                            <td>
                                {{bootstrap-datepicker
                                    name='teams_end_date'
                                    placeholder=(t 'integromat.placeholders.date_form')
                                    class='form-control'
                                    type='text'
                                    value=this.webMeetingEndDate
                                    format='yyyy/mm/dd'
                                    todayHighlight=true
                                }}
                            </td>
                            <td>
                                <select id='create_teams_end_time' class='form-control'>
                                    {{#each this.times as |times|}}
                                        {{#if (eq times this.defaultEndTime)}}
                                            <option value={{times}} selected>{{times}}</option>
                                        {{else}}
                                            <option value={{times}}>{{times}}</option>
                                        {{/if}}
                                    {{/each}}
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div local-class='Integromat__input_items'>
                    <label>{{t 'integromat.content'}}</label>
                    {{textarea
                        name='webMeetingContent'
                        class='form-control'
                        value=this.webMeetingContent
                        placeholder=(t 'integromat.placeholders.content')
                    }}
                </div>
            {{/if}}
        </div>
    </modal.body>
    <modal.footer>
            <BsButton
                @onClick={{action modal.close}}
            >
                {{t 'integromat.meetingDialog.cancelBtn'}}
            </BsButton>
            {{#if (or showCreateMicrosoftTeamsMeetingDialog showCreateWebexMeetingDialog)}}
                <OsfButton
                        @type='success'
                        @onClick={{action modal.submit}}>
                    {{t 'integromat.meetingDialog.createBtn'}}
                </OsfButton>
            {{/if}}
        </modal.footer>
</BsModal>

<BsModal
    data-test-update-meeting-modal
    @backdropClose={{false}}
    @open={{this.showUpdateWebMeetingDialog}}
    @onSubmit={{action this.updateWebMeeting}}
    @onShown={{action this.setDefaultDate}}
    @onHidden={{action (mut this.showUpdateWebMeetingDialog) false}}
    @onHide={{action this.setWebMeetingApp}}
    as |modal|
>
    <modal.header>
        <h4 style='font-weight:normal;'>
            {{t 'integromat.meetingDialog.updateHeader' appName=this.webMeetingAppNameDisp}}
        </h4>
    </modal.header>
    <modal.body>
        <div class='form-group'>
            {{#if showUpdateMicrosoftTeamsMeetingDialog}}
                <div local-class='Integromat__input_items'>
                    <label>{{t 'integromat.subject'}}</label>
                    {{input
                        name='webMeetingSubject'
                        placeholder=(t 'integromat.placeholders.subject')
                        class='form-control'
                        type='text'
                        value=this.webMeetingSubject
                    }}
                </div>
                <div local-class='Integromat__input_items'>
                    <label>{{t 'integromat.attendees'}}</label>
                    <div>
                        <span id='attendees_inputs'>
                            {{#each this.webMeetingAttendeesNow as |attendee|}}
                                <label local-class='Integromat__label_normal'>
                                    <input class='microsoftTeamsAttendeesCheck' type='checkBox' style='width: 15px; height: 15px;' id={{attendee.email}} checked>
                                    {{attendee.fullname}}
                                </label>
                            {{/each}}
                            {{#each this.notwebMeetingAttendeesNow as |attendee|}}
                                <label local-class='Integromat__label_normal'>
                                    <input class='microsoftTeamsAttendeesCheck' type='checkBox' style='width: 15px; height: 15px;' id={{attendee.email}}>
                                    {{attendee.fullname}}
                                </label>
                            {{/each}}
                        </span>
                    </div>
                </div>
                <div local-class='Integromat__input_items'>
                    <table>
                        <tr>
                            <td><label>{{t 'integromat.start_datetime'}}</label></td><td></td><td></td>
                            <td><label>{{t 'integromat.end_datetime'}}</label></td><td></td>
                        </tr>
                        <tr>
                            <td>
                                {{bootstrap-datepicker
                                    id='update_start_date'
                                    class='form-control'
                                    type='text'
                                    value=this.webMeetingStartDate
                                    format='yyyy/mm/dd'
                                    todayHighlight=true
                                }}
                            </td>
                            <td>
                                <select id='update_start_time' class='form-control'>
                                    {{#each this.times as |times|}}
                                        {{#if (eq times this.webMeetingStartTime)}}
                                            <option value={{times}} selected>{{times}}</option>
                                        {{else}}
                                            <option value={{times}}>{{times}}</option>
                                        {{/if}}
                                    {{/each}}
                                </select>
                            </td>
                            <td><label local-class='Integromat__input_items'>{{t 'integromat.from_tilde'}}</label></td>
                            <td>
                                {{bootstrap-datepicker
                                id='update_end_date'
                                class='form-control'
                                type='text'
                                value=this.webMeetingEndDate
                                format='yyyy/mm/dd'
                                todayHighlight=true
                                }}
                            </td>
                            <td>
                                <select id='update_end_time' class='form-control'>
                                    {{#each this.times as |times|}}
                                        {{#if (eq times this.webMeetingEndTime)}}
                                            <option value={{times}} selected>{{times}}</option>
                                        {{else}}
                                            <option value={{times}}>{{times}}</option>
                                        {{/if}}
                                    {{/each}}
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div local-class='Integromat__input_items'>
                    <label>{{t 'integromat.location'}}</label>
                    {{input
                        name='webMeetingLocation'
                        placeholder=(t 'integromat.placeholders.location')
                        class='form-control'
                        type='text'
                        value=this.webMeetingLocation
                    }}
                </div>
                <div local-class='Integromat__input_items'>
                    <label>{{t 'integromat.content'}}</label>
                    {{textarea
                        name='webMeetingContent'
                        class='form-control'
                        value=this.webMeetingContent
                        placeholder=(t 'integromat.placeholders.content')
                    }}
                </div>
            {{/if}}

            {{#if showUpdateWebexMeetingsDialog}}
                <div local-class='Integromat__input_items'>
                    <label>{{t 'integromat.subject'}}</label>
                    {{input
                        name='webMeetingSubject'
                        placeholder=(t 'integromat.placeholders.subject')
                        class='form-control'
                        type='text'
                        value=this.webMeetingSubject
                    }}
                </div>
                <div local-class='Integromat__input_items'>
                    <label>{{t 'integromat.attendees'}}</label>
                    <div>
                        <span id='attendees_inputs'>
                            {{#each this.webMeetingAttendeesNow as |attendee|}}
                                <label local-class='Integromat__label_normal'>
                                    <input class='webexMeetingsAttendeesCheck' type='checkBox' style='width: 15px; height: 15px;' id={{attendee.email}} checked>
                                    {{attendee.fullname}}
                                </label>
                            {{/each}}
                            {{#each this.notwebMeetingAttendeesNow as |attendee|}}
                                <label local-class='Integromat__label_normal'>
                                    <input class='webexMeetingsAttendeesCheck' type='checkBox' style='width: 15px; height: 15px;' id={{attendee.email}}>
                                    {{attendee.fullname}}
                                </label>
                            {{/each}}
                        </span>
                    </div>
                </div>
                <div local-class='Integromat__input_items'>
                    <table>
                        <tr>
                            <td><label>{{t 'integromat.start_datetime'}}</label></td><td></td><td></td>
                            <td><label>{{t 'integromat.end_datetime'}}</label></td><td></td>
                        </tr>
                        <tr>
                            <td>
                                {{bootstrap-datepicker
                                    id='update_start_date'
                                    class='form-control'
                                    type='text'
                                    value=this.webMeetingStartDate
                                    format='yyyy/mm/dd'
                                    todayHighlight=true
                                }}
                            </td>
                            <td>
                                <select id='update_start_time' class='form-control'>
                                    {{#each this.times as |times|}}
                                        {{#if (eq times this.webMeetingStartTime)}}
                                            <option value={{times}} selected>{{times}}</option>
                                        {{else}}
                                            <option value={{times}}>{{times}}</option>
                                        {{/if}}
                                    {{/each}}
                                </select>
                            </td>
                            <td><label local-class='Integromat__input_items'>{{t 'integromat.from_tilde'}}</label></td>
                            <td>
                                {{bootstrap-datepicker
                                id='update_end_date'
                                class='form-control'
                                type='text'
                                value=this.webMeetingEndDate
                                format='yyyy/mm/dd'
                                todayHighlight=true
                                }}
                            </td>
                            <td>
                                <select id='update_end_time' class='form-control'>
                                    {{#each this.times as |times|}}
                                        {{#if (eq times this.webMeetingEndTime)}}
                                            <option value={{times}} selected>{{times}}</option>
                                        {{else}}
                                            <option value={{times}}>{{times}}</option>
                                        {{/if}}
                                    {{/each}}
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div local-class='Integromat__input_items'>
                    <label>{{t 'integromat.content'}}</label>
                    {{textarea
                        name='webMeetingContent'
                        class='form-control'
                        value=this.webMeetingContent
                        placeholder=(t 'integromat.placeholders.content')
                    }}
                </div>
            {{/if}}
        </div>
    </modal.body>
    <modal.footer>
        <BsButton
            @onClick={{action modal.close}}
        >
            {{t 'integromat.meetingDialog.cancelBtn'}}
        </BsButton>
        <OsfButton
            @type='success'
            @onClick={{action modal.submit}}
        >
            {{t 'integromat.meetingDialog.updateBtn'}}
        </OsfButton>
    </modal.footer>
</BsModal>

<BsModal
    data-test-delete-meeting-modal
    @open={{this.showDeleteWebMeetingDialog}}
    @onSubmit={{action this.deleteWebMeeting}}
    @onHidden={{action (mut this.showDeleteWebMeetingDialog) false}}
    @onHide={{action this.setWebMeetingApp}}
    as |modal|
>
    <modal.header>
        <h4 style='font-weight:normal;'>
            {{t 'integromat.meetingDialog.deleteHeader' appName=this.webMeetingAppNameDisp}}
        </h4>
    </modal.header>
    <modal.body>
        <div class='form-group'>
            <div>{{t 'integromat.meetingDialog.deleteBody'}}</div>
            <br>
            <div local-class='Integromat__input_items'>
                <div>{{this.webMeetingDeleteSubject}}</div>
            </div>
            <div style='padding: 5px;'>
                <table>
                    <tr>
                        <td>
                            {{this.webMeetingDeleteStartDate}}&nbsp;{{this.webMeetingDeleteStartTime}}
                        </td>
                        <td><label local-class='Integromat__input_items'>{{t 'integromat.from_hyphen'}}</label></td>
                        <td>
                            {{this.webMeetingDeleteEndTime}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </modal.body>
    <modal.footer>
        <BsButton
            @onClick={{action modal.close}}
        >
            {{t 'integromat.meetingDialog.cancelBtn'}}
        </BsButton>
        <OsfButton
            @type='danger'
            @onClick={{action modal.submit}}
        >
            {{t 'integromat.meetingDialog.deleteBtn'}}
        </OsfButton>
    </modal.footer>
</BsModal>

<BsModal
    detail-microsoft-teams-meeting-modal
    @open={{this.showDetailMicrosoftTeamsMeetingDialog}}
    @onHidden={{action (mut this.showDetailMicrosoftTeamsMeetingDialog) false}}
    as |modal|
>
    <modal.header>
        <h4 style='font-weight:normal;'>
            {{t 'integromat.meetingDialog.detailHeader' appName=this.webMeetingAppName}}
        </h4>
    </modal.header>
    <modal.body>
        <div class='form-group'>
            <div local-class='Integromat__input_items'>
                <label>{{t 'integromat.subject'}}</label>
                <div>{{this.webMeetingSubject}}</div>
            </div>
            <div local-class='Integromat__input_items'>
                <label>{{t 'integromat.attendees'}}</label>
                <div>
                    <span id='attendees_inputs'>
                        {{#each this.teamsMeetingAttendees as |mail|}}
                            {{mail}}&nbsp;&nbsp;
                        {{/each}}
                    </span>
                </div>
            </div>
            <div local-class='Integromat__input_items'>
                <table>
                    <tr>
                        <td><label>{{t 'integromat.start_datetime'}}</label></td><td></td>
                        <td><label>{{t 'integromat.end_datetime'}}</label></td>
                    </tr>
                    <tr>
                        <td>
                            {{this.webMeetingStartDate}}&nbsp;{{this.webMeetingStartTime}}
                        </td>
                        <td><label local-class='Integromat__input_items'>{{t 'integromat.from_hyphen'}}</label></td>
                        <td>
                            {{this.webMeetingEndTime}}
                        </td>
                    </tr>
                </table>
            </div>
            <div local-class='Integromat__input_items'>
                <label>{{t 'integromat.location'}}</label>
                <div>{{this.webMeetingLocation}}</div>
            </div>
            <div local-class='Integromat__input_items'>
                <label>{{t 'integromat.content'}}</label>
                <div>{{this.webMeetingContent}}</div>
            </div>
        </div>
    </modal.body>
    <modal.footer>
        <BsButton
            @onClick={{action modal.close}}
        >
            {{t 'integromat.meetingDialog.closeBtn'}}
        </BsButton>
        <OsfButton
            @type='success'
            @onClick={{action (action this.startMeeting this.webMeetingJoinUrl)}}
        >
            {{t 'integromat.meetingDialog.startBtn'}}
        </OsfButton>
    </modal.footer>
</BsModal>
<!-- modal-dialog -->