{{! using unsafeTitle here to avoid double encoding because the title helper does its own }}
{{title 'integromat'}}
<div class='container' local-class='Integromat'>
    {{#if this.loading}}
        {{t 'integromat.loading'}}
    {{else}}

    <div class="row" local-class='Integromat__header'>
        <ul local-class='Integromat__menu'><li><span class="btn btn-link">Workflow List</span><i class="fa fa-angle-right"></i></li></ul>
    </div>
    <div>
        <!-- Begin left column -->
        <div local-class='Integromat__sidebar' >
            <div>
                <h5>
                     Categories <i title="Categories are classification of workflows.You can create custom categories." class="fa fa-question-circle text-muted"></i>
                </h5>
                <ul local-class='Integromat__menu'>
                    <li><span><a>Workflow List</a></span></li>
                </ul>
            </div>
        </div>
<!-- main screen  -->
    {{#if this.showWorkflows}}
        <div id="workflows" class="main_screen" local-class='Integromat__workflows'>
            <table class="table table-bordered table-addon-terms">
                <thead class="block-head">
                    <tr style="background-color: #f5f5f5;">
                        <th width="50%">
                            <span class="sorter">
                                <i id="sort_up_provider" class="fa fa-chevron-up tb-sort-inactive asc-btn m-r-xs"></i>
                                <i id="sort_down_provider" class="fa fa-chevron-down tb-sort-inactive desc-btn"></i>
                            </span>
                            <span class="header_text m-r-sm" title="Provider">Workflow</span>
                        </th>
                        <th width="50%">
                            <span class="sorter">
                                <i id="sort_up_file_path" class="fa fa-chevron-up tb-sort-inactive asc-btn m-r-xs"></i>
                                <i id="sort_down_file_path" class="fa fa-chevron-down tb-sort-inactive desc-btn"></i>
                            </span>
                            <span class="header_text m-r-sm" title="File Path">Integrated Apps</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each this.workflows as |row|}}
                    <tr>
                        <td><a {{action (mut this.showMicrosoftTeamsMeetings) true}} {{action (mut this.showWorkflows) false}}>{{t row.fields.workflow_description}}</a></td>
                        <td>{{row.fields.workflow_apps}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{/if}}
    </div>

<!-- manage meeting screen  -->
    {{#if this.showMicrosoftTeamsMeetings}}
    <div class="col-md-9 col-xs-12">
    <div id="microsoftTeamsMeetings" class="main_screen">
      <div local-class='Integromat__web_meeting_navbar'>
            <label style="margin-top:10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{row.fields.workflow_apps}}</label>
            <button style="margin-top:10px;"
                data-test-project-contributors-search-button
                local-class='Integromat__buttons'
                class='text-danger pull-right'
                type='text'
                onClick={{action (mut this.showDeleteMicrosoftTeamsMeetingDialog) true}}
            >
                <i class='fa fa-trash'>&nbsp;Delete Meeting</i>
            </button>
            <button style="margin-top:10px;"
                data-test-project-contributors-search-button
                local-class='Integromat__buttons'
                class='text-info pull-right'
                type='text'
            >
                <i class='fa fa-edit'>&nbsp;Update Meeting</i>
            </button>
            <button style="margin-top:10px;"
                data-test-project-contributors-search-button
                local-class='Integromat__buttons'
                class='text-success pull-right'
                type='text'
                onClick={{action (mut this.showCreateMicrosoftTeamsMeetingDialog) true}}
            >
                <i class='fa fa-plus'>&nbsp;Create Meeting</i>
            </button>
      </div>
        <div class="row" id="teamsMeeting-table-row" local-class='Integromat__web_meeting_table'>
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr style="background-color: #f5f5f5;">
                            <th width="3%">
                                <input type="checkBox" style="width: 15px; height: 15px;" id={{row.fields.meeting}} onchange={{action (action this.checkboxAction row.fields.meeting) value='target.checked'}}>
                            </th>
                            <th width="11%">
                                <span class="header_text m-r-sm">Subject</span>
                            </th>
                            <th width="12%">
                                <span class="header_text m-r-sm">Organizer</span>
                            </th>
                            <th width="15%">
                                <span class="header_text m-r-sm">Attendees</span>
                            </th>
                            <th width="12%">
                                <span class="header_text m-r-sm">Start Date</span>
                            </th>
                            <th width="12%">
                                <span class="header_text m-r-sm">End Date</span>
                            </th>
                            <th width="12%">
                                <span class="header_text m-r-sm">Location</span>
                            </th>
                            <th width="15%">
                                <span class="header_text m-r-sm">Content</span>
                            </th>
                            <th width="7%">
                                <span class="header_text m-r-sm">URL</span>
                            </th>
                            <th local-class='Integromat__cell_right'>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each this.microsoft_teams_meetings as |row|}}
                        <tr>
                            <td>
                                <input type="checkBox" style="width: 15px; height: 15px;" id={{row.fields.meetingid}}>
                            </td>
                            <td>{{row.fields.subject}}</td>
                            <td>{{row.fields.organizer}}</td>
                            <td>{{row.fields.attendees}}</td>
                            <td>{{row.fields.start_datetime}}</td>
                            <td>{{row.fields.end_datetime}}</td>
                            <td>{{row.fields.location}}</td>
                            <td>{{row.fields.content}}</td>
                            <td >
                                <button class="fa fa-copy"></button>
                            </td>
                            <td local-class='Integromat__cell_right'>
                                <button class="fa fa-headphones" onClick={{action (action this.startMeeting row.fields.join_url)}}></button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            </div>
    </div>
    </div>
    {{/if}}
    {{/if}}
</div>

<BsModal
    data-test-paper-confirm-modal
    @open={{this.showCreateMicrosoftTeamsMeetingDialog}}
    @onSubmit={{action this.startCreateMicrosoftTeamsMeetingScenario}}
    @onHidden={{action (mut this.showCreateMicrosoftTeamsMeetingDialog) false}}
    as |modal|
>
    <modal.header>
        <h4 style="font-weight:normal;">
            Create Microsoft Teams Meeting
        </h4>
    </modal.header>
    <modal.body>
        <div class='form-group'>
          <div>
            <label>Subject</label>
                {{input
                    name='teams_Subject'
                    placeholder='Input teams meeting subject'
                    class='form-control'
                    type='text'
                    value=this.teams_subject
                }}
          </div>
          <div>
            <label>Attendees</label>
                {{input
                    name='teams_Attendees'
                    placeholder='Input teams meeting attendees'
                    class='form-control'
                    type='text'
                    value=this.teams_attendees
                }}
          </div>
          <div>
            <table>
            <tr>
                <td><label>Start Datetime</label></td><td></td><td></td>
            <td><label>End Datetime</label></td><td></td>
            </tr>
            <tr>
            <td>
                {{input
                    name='teams_Start_Date'
                    placeholder='YYYY/MM/DD'
                    class='form-control'
                    type='text'
                    value=this.teams_startDate
                }}
            </td>
            <td>
                {{input
                    name='teams_Start_Time'
                    class='form-control'
                    type='time'
                    value=this.teams_startTime
                }}
            </td>
            <td><label>&nbsp;〜&nbsp;</label></td>
            <td>
                {{input
                    name='teams_End_Date'
                    placeholder='YYYY/MM/DD'
                    class='form-control'
                    type='text'
                    value=this.teams_endDate
                }}
            </td>
            <td>
                {{input
                    name='teams_End_Time'
                    class='form-control'
                    type='time'
                    value=this.teams_endTime
                }}
            </td>
            </tr>
            </table>
          </div>
          <div>
            <label>Location</label>
                {{input
                    name='teams_Location'
                    placeholder='Input teams meeting location'
                    class='form-control'
                    type='text'
                    value=this.teams_location
                }}
          </div>
          <div>
            <label>Content</label>
                {{textarea
                    name='teams_Content'
                    class='form-control'
                    value=this.teams_content
                    placeholder='Input the detail of this meeting'
                }}
          </div>
        </div>
    </modal.body>
    <modal.footer>
        <BsButton
            @onClick={{action modal.close}}
        >
            Cancel
        </BsButton>
            <OsfButton
                    @type='success'
                    @onClick={{action modal.submit}}>
                Create
            </OsfButton>
    </modal.footer>
</BsModal>

<BsModal
    data-test-paper-confirm-modal
    @open={{this.showDeleteMicrosoftTeamsMeetingDialog}}
    @onSubmit={{action this.startDeleteMicrosoftTeamsMeetingScenario}}
    @onHidden={{action (mut this.showDeleteMicrosoftTeamsMeetingDialog) false}}
    as |modal|
>
    <modal.header>
        <h4 style="font-weight:normal;">
            Delete Microsoft Teams Meeting
        </h4>
    </modal.header>
    <modal.body>
        <div class='form-group'>
          <div>Are you sure you wanto to delete these Microsoft Teams meetings? : </div>
          <div>
                {{input
                    name='node_id'
                    type='hidden'
                    value=this.node_settings_id
                }}
                {{input
                    name='microsoft_teams_app_name'
                    type='hidden'
                    value=this.microsoftTeamsAppName
                }}
                {{input
                    name='teams_meetingid'
                    type='hidden'
                    value=this.selectedTargetId
                }}
          </div>
        </div>
    </modal.body>
    <modal.footer>
        <BsButton
            @onClick={{action modal.close}}
        >
            Cancel
        </BsButton>
            <OsfButton
                    @type='danger'
                    @onClick={{action modal.submit}}>
                Delete
            </OsfButton>
    </modal.footer>
</BsModal>
