{{#if @open}}
    <div class="modal fade in workflow-task-dialog" tabindex="-1" role="dialog" aria-modal="true" style="display: block;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label={{t 'workflow.console.close'}} {{on "click" @onClose}}>
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{if this.taskTitle this.taskTitle (t 'workflow.console.tasks.dialog.titleFallback')}}</h4>
                </div>
                <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
                    {{#if @error}}
                        <div class="alert alert-danger" role="alert">
                            {{@error}}
                        </div>
                    {{/if}}
                    {{#if @actionError}}
                        <div class="alert alert-danger" role="alert">
                            {{@actionError}}
                        </div>
                    {{/if}}
                    {{#if @isLoading}}
                        <p class="text-muted">
                            <i class="fa fa-spinner fa-spin"></i>
                            {{t 'workflow.console.tasks.dialog.loading'}}
                        </p>
                    {{else if this.hasTask}}
                        <dl class="dl-horizontal">
                            <dt>{{t 'workflow.console.tasks.columns.task'}}</dt>
                            <dd>{{or this.taskTitle (t 'workflow.console.tasks.dialog.untitled')}}</dd>
                            <dt>{{t 'workflow.console.tasks.columns.assignee'}}</dt>
                            <dd>{{this.assigneeLabel}}</dd>
                            <dt>{{t 'workflow.console.tasks.dialog.startedAt'}}</dt>
                            <dd>{{or @task.created (t 'workflow.console.tasks.dialog.notAvailable')}}</dd>
                            <dt>{{t 'workflow.console.tasks.dialog.dueAt'}}</dt>
                            <dd>{{or @task.due (t 'workflow.console.tasks.dialog.notAvailable')}}</dd>
                        </dl>

                        {{#if @task.description}}
                            <p class="text-muted">{{@task.description}}</p>
                        {{/if}}

                        {{#unless this.canComplete}}
                            <div class="alert alert-warning" role="alert">
                                {{t 'workflow.console.tasks.dialog.notAssigned'}}
                            </div>
                        {{/unless}}

                        <GuidNode::Workflow::-Components::TaskForm
                            @form={{@task.form}}
                            @variables={{@task.variables}}
                            @node={{@node}}
                            @onChange={{this.handleFormChange}}
                        />
                    {{else}}
                        <p class="text-muted">{{t 'workflow.console.tasks.dialog.noTask'}}</p>
                    {{/if}}
                </div>
                <div class="modal-footer">
                    {{#if this.hasTask}}
                        <button
                            type="button"
                            class="btn btn-primary"
                            disabled={{or (not this.canComplete) (not this.isFormValid)}}
                            {{on "click" this.handleSubmit}}
                            data-test-task-dialog-submit
                        >
                            {{#if @isSubmitting}}
                                <i class="fa fa-spinner fa-spin"></i>
                                {{t 'workflow.console.tasks.dialog.submitting'}}
                            {{else}}
                                {{t 'workflow.console.tasks.dialog.submit'}}
                            {{/if}}
                        </button>
                    {{/if}}
                    <button type="button" class="btn btn-default" {{on "click" @onClose}}>
                        {{t 'workflow.console.close'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade in"></div>
{{/if}}
