<div data-test-draft-export>
    <RegistrationReportExportButton
        @buttonClass={{local-class this.registerButtonClass}}
        @metadataType='draft_registration'
        @metadataId={{this.draftRegistration.id}}
        @metadataSchema={{this.metadataSchema}}
        @metadataSchemaLoading={{this.metadataSchemaLoading}}
        @registrationSchemaId={{this.registrationSchemaId}}
        @exportCsvUrl={{this.exportCsvUrl}}
    />
    {{#if this.wekoItemId}}
        <p data-test-weko-item-id local-class='WekoIdLabel'>
            {{t 'registries.drafts.draft.weko_id' weko_id=this.wekoItemId htmlSafe=true}}
        </p>
    {{/if}}
    <a
        data-analytics-name='Edit Complete'
        class='btn btn-default'
        href='/{{this.node.id}}/metadata?tab=reports'
        style='margin-top: 10px; width: 100%;'
    >
        {{t 'registries.drafts.draft.edit_complete'}}
    </a>
</div>

{{#if this.node}}
    <Registries::PartialRegistrationModal::Manager
        @rootNode={{this.node}}
        as |partialRegistrationManager|
    >
        <Registries::PartialRegistrationModal
            @isOpen={{this.partialRegDialogIsOpen}}
            @manager={{partialRegistrationManager}}
            @onContinue={{action this.onContinue}}
            @onClose={{action this.closePartialRegDialog}}
        />
    </Registries::PartialRegistrationModal::Manager>
{{/if}}

{{#if this.registration}}
    <Registries::FinalizeRegistrationModal::Manager
        @draftManager={{this.draftManager}}
        @registration={{this.registration}}
        @onSubmitRegistration={{action this.onSubmitRegistration}}
        as |finalizeRegistrationManager|
    >
        <Registries::FinalizeRegistrationModal
            @isOpen={{this.finalizeRegDialogIsOpen}}
            @manager={{finalizeRegistrationManager}}
            @onClose={{action this.closeFinalizeRegDialog}}
            @onBack={{action this.onBack}}
        />
    </Registries::FinalizeRegistrationModal::Manager>
{{/if}}
