{{! using unsafeTitle here to avoid double encoding because the title helper does its own }}
{{title (t 'binderhub.page_title' nodeTitle=this.node.unsafeTitle)}}
<div class='container' local-class='BinderHub'>
    {{#if this.loading}}
        {{t 'binderhub.loading'}}
    {{else}}
        <div local-class='BinderHub__editor'>
            <div local-class='host_information'>
                <GuidNode::Binderhub::-Components::HostSelector
                    local-class='host_selector'
                    @selectedHost={{this.selectedHost}}
                    @availableHosts={{this.availableHosts}}
                    @onHostSelect={{this.selectHostURL}}
                />
                <div local-class='host_user'>
                    {{#if this.currentJupyterHubUser}}
                        <GuidNode::Binderhub::-Components::UserInfo
                            @userInfo={{this.currentJupyterHubUser}}
                        />
                    {{/if}}
                    {{#if this.canLogout}}
                        <GuidNode::Binderhub::-Components::LogoutButton
                            @currentJupyterHubURL={{this.currentJupyterHubURL}}
                            @logout={{action this.logoutJupyterHub}}
                        />
                    {{/if}}
                </div>
            </div>
            <h2 data-test-servers-header local-class='BinderHub__header'>
                {{t 'binderhub.jupyter_servers_list.header'}}
            </h2>
            <BsAlert
                @type='danger'
                @dismissible={{false}}
                @visible={{this.jupyterHubAPIError}}
                local-class='BinderHub__connection_alert'
            >
                {{t 'binderhub.error.jupyterhub_api_error'}}
            </BsAlert>
            <div local-class='BinderHub__panel'>
                <GuidNode::Binderhub::-Components::JupyterServersList
                    @node={{this.node}}
                    @binderHubConfig={{this.model.binderHubConfig}}
                    @serverAnnotationHash={{this.serverAnnotationHash}}
                    @requestAnnotationReload={{this.reloadServerAnnotations}}
                    @currentBinderHubURL={{this.currentBinderHubURL}}
                    @loggedOutDomains={{this.loggedOutDomains}}
                    @renewToken={{action this.renewJupyterHubToken}}
                    @buildPhase={{this.buildPhase}}
                    @onError={{action this.requestError}}
                />
            </div>
            <h2
                data-test-binderhub-header
                local-class='BinderHub__header'
            >
                {{t 'binderhub.project_editor.header'}}
            </h2>
            <div local-class='BinderHub__panel'>
                <GuidNode::Binderhub::-Components::ProjectEditor
                    @node={{this.node}}
                    @binderHubConfig={{this.model.binderHubConfig}}
                    @currentBinderHubURL={{this.currentBinderHubURL}}
                    @configFolder={{this.configFolder}}
                    @onError={{action this.projectError}}
                    @pagePolluter={{this.pollute}}
                    @pageCleanser={{this.cleanse}}
                    @renewBinderHubToken={{action this.renewBinderHubToken}}
                    @requestBuild={{action this.build}}
                    @buildLog={{this.buildLog}}
                    @buildPhase={{this.buildPhase}}
                />
            </div>
            <BsAlert
                @type='danger'
                @dismissible={{false}}
                @visible={{this.binderHubBuildError}}
                local-class='BinderHub__connection_alert'
            >
                {{t 'binderhub.error.binderhub_build_error'}}
            </BsAlert>
        </div>
    {{/if}}
</div>
