{{! using unsafeTitle here to avoid double encoding because the title helper does its own }}
{{title (t 'binderhub.page_title' nodeTitle=this.node.unsafeTitle)}}
<div class='container' local-class='BinderHub'>
    {{#if this.loading}}
        {{t 'binderhub.loading'}}
    {{else}}
        <div local-class='BinderHub__editor'>
            <GuidNode::Binderhub::-Components::HostSelector
                @selectedHostURL={{this.currentBinderHubURL}}
                @selectableBinderhubs={{this.selectableBinderhubs}}
                @onHostSelect={{this.selectHostURL}}
            />
            <BsAlert
                @type='danger'
                @dismissible={{false}}
                @visible={{this.jupyterHubAPIError}}
                local-class='BinderHub__connection_alert'
            >
                {{t 'binderhub.error.jupyterhub_api_error'}}
            </BsAlert>
            <div local-class='BinderHub__section'>
                <GuidNode::Binderhub::-Components::JupyterServersList
                    @node={{this.model.node}}
                    @binderHubConfig={{this.model.binderHubConfig}}
                    @currentBinderHubURL={{this.currentBinderHubURL}}
                    @loggedOutDomains={{this.loggedOutDomains}}
                    @renewToken={{action this.renewJupyterHubToken}}
                    @logout={{action this.logoutJupyterHub}}
                    @buildPhase={{this.buildPhase}}
                    @onError={{action this.requestError}}
                />
            </div>
            <h2
                data-test-binderhub-header
                local-class='BinderHub__header'
            >
                {{t 'binderhub.project_editor.header'}}
            </h2>
            <div local-class='BinderHub__panel'>
                <GuidNode::Binderhub::-Components::ProjectEditor
                    @node={{this.model.node}}
                    @binderHubConfig={{this.model.binderHubConfig}}
                    @configFolder={{this.configFolder}}
                    @onError={{action this.projectError}}
                />
            </div>
            <GuidNode::Binderhub::-Components::BuildConsole
                @binderHubConfig={{this.model.binderHubConfig}}
                @currentBinderHubURL={{this.currentBinderHubURL}}
                @renewToken={{action this.renewBinderHubToken}}
                @requestBuild={{action this.build}}
                @buildLog={{this.buildLog}}
                @buildPhase={{this.buildPhase}}
              />
            <BsAlert
                @type='danger'
                @dismissible={{false}}
                @visible={{this.binderHubBuildError}}
                local-class='BinderHub__connection_alert'
            >
                {{t 'binderhub.error.binderhub_build_error'}}
            </BsAlert>
        </div>
    {{/if}}
</div>
